[2015-03-29 20:08] dritter opened #7 "Installation Instructions are Complicated"
**Summary:** The installation instructions are overly complex.

[2015-03-29 20:16] dritter commented on #7
Whoops. It's too late. I just misread the documentation.
Everything is all right.

[2015-03-29 20:39] bhilburn commented on #7
Yeah, I don't like them either, honestly. I just stuck that in there so that it would be something that I knew worked until we could work out something better.

I tried cloning directly into `custom/themes`, but I couldn't make OMZ find the theme. No matter what I tried, I couldn't seem to get it to look in a sub-directory under the `themes` folder (in either `custom/themes` or the default `themes

[2015-03-29 20:53] dritter commented on #7
Strange that OMZ doesn't find your theme, as in `.oh-my-zsh/oh-my-zsh.sh` is defined where your custom directory is:
[code]
Your `.zshrc` should define what `$ZSH` is:
[code]

Have you set `ZSH_CUSTOM` to another directory?

I am currently using OMZ with powerlevel9k theme cloned into `.oh-my-zsh/custom/themes/powerlevel9k` and set `ZSH_THEME="powerlevel9k/powerlevel9k"`. That setup works fine for

[2015-03-29 21:27] dritter commented on #7
Another idea would be to substitute @agnoster original Theme in OMZ. That said, I think I'll try to add the powerlevel9k theme as git-submodule in OMZ. ;)

[2015-03-29 21:30] bhilburn commented on #7
WELP. I'm just an idiot.

Works fine. Fixing README...

[2015-03-29 21:30] #7 closed

[2015-03-29 21:39] dritter commented on #7
What was the problem? ;)

[2015-03-29 21:42] bhilburn commented on #7
My OMZ check-out was a fork of the original project that I had made years ago and gradually tinkered with. I thought I had all of the changes in the original project, but apparently at some point I missed some.

Since I wasn't really using the changes I had made, anyway, I just `reset --hard` to the official master branch, and it started working. I must have missed whatever changesets introduced t

[2015-04-08 23:30] dritter opened #24 "Port to fish-shell"
Hi!

I'm currently considering to port the theme to fish-shell as I think this would be a nice feature. I'm not sure about this intent as the shells differ substantially. But it might be worth the effort.
What do you think?

[2015-04-08 23:33] bhilburn commented on #24
I don't use the fish shell personally, so it's hard for me to comment. I also don't know how much of the code you could re-use, so your port might end up like more of a re-write? Thoughts?

[2015-04-10 07:27] dritter commented on #24
Hopefully it will not end in an complete Rewrite. I mean, there is no vcs_info, which is the major issue. But if the tests work the same, it might be possible..
Second big issue is the prompt itself. Fish shell prompts work by calling a function `fish_prompt`, not by setting a variable..

There are some similar themes in `oh-my-fish` like https://github.com/bpinto/oh-my-fish/tree/master/themes/bud

[2015-04-17 18:00] fuzzmz opened #26 "precmd:4: command not found: vcs_info_hookadd"
Tried enabling the theme but I receive the `precmd:4: command not found: vcs_info_hookadd` info in the command line and it seems like it tries to display VCS related info no matter if the current folder is a repository or not.

![error](http://i.imgur.com/FY1ws0O.png)

[2015-04-17 18:24] fuzzmz commented on #26
What's strange is that it works ok on my local machine, but doesn't on my VPS with the exact same install and `.zshrc`

[2015-04-17 18:25] fuzzmz opened #27 "virtualenv not displaying"
I can't seem to get the virtualenv to display despite setting in `.zshrc` the line `POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(virtualenv)`

[2015-04-17 18:27] dritter commented on #26
Hi serban!

Thanks for the info. Yes indeed, we invoke the vcs_info subsystem
regardless of beeing in a repository or not. This is because the vcs_info
checks the folder by itself.

What version oft zsh do you have?

Best regards,
Dominik
Am 17.04.2015 20:00 schrieb "Serban Constantin" <notifications@github.com>:

Tried enabling the theme but I receive the precmd:4: command not found:
vcs_info_hoo

[2015-04-17 18:48] fuzzmz commented on #26
pebcak. Looks like my distro's package manager was still on version 4.x of zsh. Upgraded to 5.0.7 and now the message is no longer displayed.

[2015-04-17 18:48] #26 closed

[2015-04-18 13:42] #27 closed

[2015-04-19 00:54] bhilburn commented on #27
Were you able to resolve this?

If there is a bug, I want to be sure we fix it!

[2015-04-19 06:22] fuzzmz commented on #27
Sorry, looks like didn't comment. It wasn't a bug, my instance of zsh
wasn't loading the virtualenv and virtualenvwrapper plugins.

-- Serban Constantin
On Apr 19, 2015 03:54, "Ben Hilburn" <notifications@github.com> wrote:

[2015-05-27 20:02] dritter commented on #24
Okay. I give up on this. :'(
There are vast differences on these shells.

[2015-05-27 20:02] #24 closed

[2015-05-30 17:14] lylemoffitt commented on #26
As a helpful note to anyone who comes here with this problem, I offer the following.

I use OSX 10.8, with Homebrew as a package manager. I was encountering this problem consistently despite having zsh v5.0.7 as the first of its name in my PATH. I reinstalled everything zsh and still the problem persisted.

The real root of the issue here is that on macs, terminal emulators (Terminal, iTerm, etc.)

[2015-06-01 19:02] bhilburn commented on #26
@lylemoffitt - Thanks so much for leaving this here! This is very helpful. I may incorporate your feedback into the README.

[2015-06-05 06:56] pradyunsg opened #33 "RPROMPT on first line in multiline prompt"
I don't really know how this can be done, but it would be nice to have IMO...

[2015-06-05 07:34] dritter commented on #33
Hey @pradyunsg !
Thanks for your report. I'll have a look on that later on today.

[2015-06-05 17:08] bhilburn commented on #33
Fixed in f7cb94689

[2015-06-05 17:08] #33 closed

[2015-06-07 22:03] simonweil opened #36 "Prompt is empty - please help"
I'm having trouble getting powerlevel9k to work for me, this is the output:
![screen shot 2015-06-08 at 12 57 16 am](https://cloud.githubusercontent.com/assets/2317562/8026306/4f3bb6f6-0d79-11e5-8bd2-a3dff41c4aef.png)

My .zshrc is:
[code]

When I use `antigen theme funky` all is fine.

As I'm new to zsh I have no real idea what to do...

[2015-06-07 23:30] dritter commented on #36
Hi @simonweil !

Thanks for the report! I am currently working on support for `prezto` and `antigen`. This is in my fork https://github.com/dritter/powerlevel9k/tree/dritter/prezto, but it is not ready yet. Hopefully, I am getting somewhere, before going on vacation. Stay tuned.

As a workaround: The Theme is tested with `oh-my-zsh`. It should work if you are willing to use that temporarily..

[2015-06-08 05:57] simonweil commented on #36
Oh, I see.
I'll wait for full support, but I'll be glad to help out testing or in any other way you think I can give a hand.

[2015-06-08 23:00] mfarrugi opened #37 "VCS Segment doesn't work with Mercurial"
I have a fairly non-customized oh-my-zshell setup right now, and noticed the VCS segment isn't picking up any changes in a mercurial directory.
[code]
Re-read the source and found the appropriate option, my bad :)!

[2015-06-08 23:05] #37 closed

[2015-06-16 20:45] bh commented on #36
@simonweil
``
antigen theme dritter/powerlevel9k powerlevel9k --branch=dritter/prezto
``
Until it is merged to upstream :-)

[2015-06-18 06:41] brcolow commented on #36
This worked for me with Antigen! Thank you so much, my terminal looks *beautiful*

[2015-06-18 17:44] simonweil commented on #36
@bh - Works great, thank you!!!

[2015-06-18 17:58] simonweil commented on #36
One thing doesn't work well.
When I customize the prompt elements,
the "status" part shows only an X when the command failed but nothing otherwise.
When using the defaults, all is fine.

Also the virtualenv doesn't seem to work.

[2015-06-18 18:08] bhilburn commented on #36
Hi all -

I am working on pulling this branch upstream in the next couple of days. Keep an eye on Pull Request #38!

[2015-06-19 02:02] dritter commented on #36
@simonweil could you open separate issues for the broken features? I'll have an eye on that in a few weeks.. Thx.

[2015-06-19 08:09] bweston92 opened #39 "Installation of fonts."
I've installed the fonts but my terminal looks like this. (I'm using `compatible` but it is not very compatible)

![image](https://cloud.githubusercontent.com/assets/1764057/8249495/adb47320-1662-11e5-8dff-bb3a4f34ff06.png)

[2015-06-19 15:01] bhilburn commented on #39
Thanks for the bug report, @bweston92!

Few questions:
1. Do you see the Powerline fonts in your OS's font manager?
2. Now that you have installed the Powerline Patched fonts, have you set your terminal's default font to one of those?

[2015-06-20 02:53] dritter commented on #39
Unfortunately `compatible` mode still needs a compatible font.. So it should be capable of displaying glyphs like \uE0B0 to display the segment separators. Some fonts have them, others don't.. See issue #32 for more infos.

[2015-06-25 09:19] bweston92 commented on #39
@dritter How do you tell the terminal which fonts to use?

[2015-06-25 14:38] dritter commented on #39
@bweston92 I have no Computer ATM, but it should be somewhere in the preferences of your terminal app. Maybe this link helps you:http://askubuntu.com/questions/384551/mac-os-x-terminal-clone-for-ubuntu

[2015-06-27 02:53] bhilburn commented on #39
Hey @bweston92 - Any luck? This bug doesn't seem like an issue with the theme, so I'm going to go ahead and close it.

I am somewhat confused by your initial question - if you have installed the patched fonts, you shouldn't need to use the `compatible` mode. You just need to select one of the Powerline-patched fonts in your terminal.

You can continue commenting after this bug has been closed, and

[2015-06-27 02:53] #39 closed

[2015-06-29 00:57] #36 closed

[2015-06-29 10:19] bweston92 commented on #39
Yes I've managed to do it, thanks.

[2015-06-29 16:29] bhilburn commented on #39
@bweston92 - Good to hear! Thanks for following-up!

[2015-06-29 16:30] bhilburn commented on #36
Closed with merge from pull request #38, antigen support confirmed in bug #40!

[2015-06-30 21:16] colemickens opened #41 "How to remove yellow coloring when off-host"
https://github.com/bhilburn/powerlevel9k/blob/f84a14419400854f84ed70676fe0296de86480f7/powerlevel9k.zsh-theme#L430

I know that that line is relevant. Is there a mechanism to override the yellow color of the foreground text on the left prompt? Or do I have to edit the theme directly?

[2015-06-30 21:31] bhilburn commented on #41
Nope, you're right - that one is hard-coded. I'll add an option that lets you override, similar to the configurability of the VCS colors.

Thanks for the request!

[2015-07-06 06:20] martinpelikan opened #42 "Tab completion in PROMPT_ON_NEWLINE draws invalid characters"
Bad example, but let's say I want to run 'cat test.py', in my current directory I have: temp, test.py, test.sh...

I type:
cat\<tab\>\<tab\> -- this should select 'cat', the first command of the completion list, but I now see 'ccat' completed for me
te\<tab\> -- shows me [temp, test.py, test.sh], I want test.py, so I type 's' to narrow down the results and \<tab\> again. I now I have 'ccat ts t.'

[2015-07-06 19:19] bhilburn commented on #42
@martinpelikan - Thanks for the bug report!

And, just to be sure, if you use the single-lined prompt, it behaves as you expect?

[2015-07-06 20:46] martinpelikan commented on #42
@bhilburn Correct, sorry for missing that.

If the behaviour isn't reproducible by default, perhaps something in my [config](https://github.com/martinpelikan/dotfiles/blob/master/zshrc) is to blame?

[2015-07-06 20:58] bhilburn commented on #42
@martinpelikan - Hm, I'm not sure. I just tried to reproduce the bug based on your description, and it's working just fine for me. Will take some additional investigation using your config.

[2015-07-06 22:32] martinpelikan commented on #42
@bhilburn - Just tested on a second machine and I can't reproduce it. Same config, both using urxvt. The difference is the distro they are running...

The one with the issue is [Arch's rxvt-unicode](https://www.archlinux.org/packages/?name=rxvt-unicode)
The one without the issue is [Ubuntu's rxvt-unicode-256color](http://packages.ubuntu.com/precise/rxvt-unicode-256color)

[2015-07-06 22:35] bhilburn commented on #42
Ah. Can you try adding `export TERM='xterm-256color'` to your zshrc and see if that has an effect?

[2015-07-07 03:20] martinpelikan commented on #42
@bhilburn Nice! That seems to have fixed it. Both the Arch and Ubuntu distributions of urxvt seem to identify as 'rxvt-unicode-256color' in the TERM environment variable, and I have no idea what would cause this behaviour... Regardless, thank you.

[2015-07-07 16:16] bhilburn commented on #42
@martinpelikan - Glad you're all set!

[2015-07-07 16:16] #42 closed

[2015-07-09 01:59] bhilburn opened #47 "README: Symbol table wrong about branch icon"
Our readme currently shows this in the symbol table:

| `@`         | ![icon_branch_powerline](https://cloud.githubusercontent.com/assets/1544760/8000852/e7e8d8a0-0b5f-11e5-9834-de9b25c92284.gif) | ![](https://cloud.githubusercontent.com/assets/1544760/7976087/b58bbe3e-0a76-11e5-8d0d-7a5c1bc7f730.gif) | Branch Icon
| None         |  None               | ![icon_commit](https://cloud.githubuserconte

[2015-07-09 02:07] bhilburn commented on #47
@dritter - I think I've got it right, now, in the `fixing_symbol_table` branch. Have a look and let me know if it looks right: https://github.com/bhilburn/powerlevel9k/tree/fixing_symbol_table#symbols

[2015-07-09 08:55] dritter commented on #47
@bhilburn
I think it should be the branch icon and we should show it by default. The only thing is, that it could be ugly, if the users wants to display the commit hash. Then it would look like this: `772c9a![icon_branch_powerline](https://cloud.githubusercontent.com/assets/1544760/8000852/e7e8d8a0-0b5f-11e5-9834-de9b25c92284.gif)master`

IMHO this is better than displaying the icon at a unusual p

[2015-07-09 18:34] bhilburn commented on #47
@dritter - Hm, I'm not sure I understand your comment. Are you saying that the README is correct, as is, and the branch icon should just be turned on by default?

[2015-07-09 19:13] dritter commented on #47
@bhilburn Yep. :)

The icon ![](https://cloud.githubusercontent.com/assets/1544760/8000852/e7e8d8a0-0b5f-11e5-9834-de9b25c92284.gif) shows a branch icon. So we should use it as such. It would be confusing, if we use it for other purposes..

Turning on the branch icon by default would like the previous layout (showing branch icon, than the branch name), with the exception when the commit hash is on

[2015-07-09 19:34] bhilburn commented on #47
@dritter - Maybe we keep current README, set branch icon to default to on, and add a space to the commit hash to make it readable?

[2015-07-09 20:16] dritter commented on #47
Yeah, maybe.. Just tried a little bit. Seems not to be done by just adding a space to the commit hash..

Here is what it looks like with just a space added to the icon:
![bildschirmfoto 2015-07-09 um 22 06 49](https://cloud.githubusercontent.com/assets/1544760/8605640/f153bef4-2686-11e5-9037-e07b4a0ecba1.png)

Here with space after the icon and hash:
![bildschirmfoto 2015-07-09 um 22 07 20](https:

[2015-07-09 21:00] dritter commented on #47
@bhilburn I'll try to clean that up.. ;)

[2015-07-09 22:31] dritter commented on #47
@bhilburn I think I got it!

![bildschirmfoto 2015-07-10 um 00 28 28](https://cloud.githubusercontent.com/assets/1544760/8608401/e055b652-269a-11e5-94b2-e2dc0c11aff9.png)
![bildschirmfoto 2015-07-10 um 00 28 51](https://cloud.githubusercontent.com/assets/1544760/8608399/e054df48-269a-11e5-9bd3-4e7387fbd37c.png)
![bildschirmfoto 2015-07-10 um 00 29 09](https://cloud.githubusercontent.com/assets/154

[2015-07-09 22:37] bhilburn commented on #47
@dritter - Awesome! Where is the branch? `=)`

[2015-07-09 22:41] dritter commented on #47
Almost there, just some last tests. ;)

Here are the screenshots, if the branch icon is disabled:
![bildschirmfoto 2015-07-10 um 00 39 05](https://cloud.githubusercontent.com/assets/1544760/8608565/51fd9b7a-269c-11e5-97b7-b42ea0562e2e.png)
![bildschirmfoto 2015-07-10 um 00 39 16](https://cloud.githubusercontent.com/assets/1544760/8608566/51fe7d1a-269c-11e5-912f-f827776a73d8.png)
![bildschirmfoto 2

[2015-07-10 14:55] dritter opened #51 "Mercurial does not show changes, without changeset"
Just a reminder for me:
If no changeset is shown, and the repository is dirty, no information about the repository state is given (the background color dosn't change to orange).

Problem is, that the performance-boost parses that information directly out of the mercurial files, and the theme does not know about the state.

Removing the following line should fix that problem. Sadly the theme gets s

[2015-07-11 03:29] #51 closed

[2015-07-11 03:31] bhilburn commented on #47
Resolved by PR #49.

[2015-07-11 03:31] #47 closed

[2015-07-17 21:55] dritter opened #56 "Theme breaks, if locale is "C""
Recently I stumbled upon https://github.com/robbyrussell/oh-my-zsh/pull/4091 which affects powerlevel9k too. I started fixing this problem in my branch [dritter/character_protection](https://github.com/dritter/powerlevel9k/tree/dritter/character_protection), but it is harder than I thought..

The right prompt seems to complicate the problem. Maybe you have some good Ideas to fix that. ;)

Steps to

[2015-07-17 22:02] dritter commented on #56
Interestingly special characters seem to need to be wrapped in `%{ %}` to avoid unwanted spaces. This is just the case, if there is a right side prompt, which is why I set up a [gist](https://gist.github.com/dritter/ae0f0ebb2926f184838c) of the original agnoster theme with a time-segment on the right side (theme is based on PR 4091 in OMZ; RPROMPT based on powerlevel9k).

[2015-07-17 23:21] dritter commented on #56
The pure prompt-string looks quite good:

[code]

[2015-07-19 19:15] #41 closed

[2015-07-19 23:08] natemccurdy opened #60 "Question mark doesn't go away in git repository"
Just updated to the latest version (c853be57e7efa79f9818394e3aec7900a6a35516) from a fairly old one, and now I can't seem to get rid of the question mark in the git `vcs` segment.

Here's a screenshot:
<img width="689" alt="screen shot 2015-07-19 at 4 06 03 pm" src="https://cloud.githubusercontent.com/assets/10200384/8768323/5bbda16e-2e30-11e5-85e1-4a866110721a.png">

[2015-07-20 00:12] natemccurdy commented on #60
The line that causes the problem is at https://github.com/bhilburn/powerlevel9k/blob/10c5b28859d372f480c1352d4b7a74672e77b430/powerlevel9k.zsh-theme#L183

A proposed fix is in PR #61

The problem is that `wc -l` returns a string with whitespace characters in it:

     '       0'

This string is then compared to  the number `0` using `[[ $string != 0 ]]`.
That comparison will always return true unl

[2015-07-20 01:12] natemccurdy commented on #60
Fixed in commit 7f83bac947893175ef937e26f1a3bc8a389d1718 by reverting to using `tr -d '  '`

[2015-07-20 01:12] #60 closed

[2015-07-20 01:20] bhilburn commented on #60
@natemccurdy - Thank you so much for reporting this, finding the root cause, and submitting a pull request for it. This was the first time (that I'm aware of) that we broke `master`, which is a big deal, and so I super appreciate your time tracking this down and documenting your findings.

Strangely, the problem didn't exist for me - I tested it out before merging #57, and I imagine @dritter did,

[2015-07-20 01:34] natemccurdy commented on #60
@bhilburn Happy to help! This is, by far, my favorite zsh prompt.

Strange that it worked for you. In a ZSH session, what does `true | wc -l` return for you?
Here's my output:
<img width="402" alt="screen shot 2015-07-19 at 6 28 26 pm" src="https://cloud.githubusercontent.com/assets/10200384/8768884/fb3e140e-2e43-11e5-99df-504c7e9efb65.png">

[2015-07-20 07:23] dritter commented on #60
Uh. Didn't see that coming.. :(

`true | wc -l` return 0 for me (on Mac OSX).. Even the GNU-variant of wc return 0 (`true | gwc -l`)..

I'll rework that later on..

[2015-07-20 12:29] tupton commented on #60
`sed q` just returns as soon as there's a match. In this case it means that it returns as soon as there's any output at all instead of printing all of the `git` output.

There's probably a more efficient way to do that – I'm not completely sure why `head -1` doesn't do the same thing, or if cutting off the output to just the first line even does anything in terms of speed or efficiency – but it wo

[2015-07-20 16:51] bhilburn commented on #60
@natemccurdy @dritter - Yeah, it returns a raw `0` character for me, using `wc (GNU coreutils) 8.21` on Fedora 20.

@tupton - Thanks for weighing in! You still have a [credit at the top of the theme](https://github.com/bhilburn/powerlevel9k/blob/master/powerlevel9k.zsh-theme#L9), btw `;)`

Interesting... so `sed q` effectively stops parsing and returns as soon as it sees something. That's pretty u

[2015-07-20 21:05] natemccurdy commented on #60
I'm on OSX 10.10.4, and I imagine this "bug" will only affect OSX users.

When I use the built in `wc`, the problem appears. But when I use `gwc` from `brew install coreutils`, there's no issue:
![screen shot 2015-07-20 at 2 04 38 pm](https://cloud.githubusercontent.com/assets/10200384/8787315/485030b6-2ee8-11e5-9002-913a3ddfc50e.png)

[2015-07-20 21:27] dritter commented on #60
I am on OSX 10.9.4, and I found `wc` on my machine is linked to `gwc` from coreutils. This is the reason, why I didn't see it!
With `/usr/bin/wc` I can reproduce this error. Perfect! Now I can work on a solution.

[2015-07-29 19:27] tupton commented on #60
http://stackoverflow.com/questions/15632691/fastest-way-to-print-a-single-line-in-a-file

[2015-07-29 21:07] bhilburn commented on #60
@tupton - Awesome reference. Thanks!

Interesting that the author for the accepted answer recommends `sed`, even though `head -1` is actually faster.

[2015-07-30 02:21] tupton commented on #60
When the difference is 1µs, I start to think it might not matter or that you might need to sample a huge number of runs to really see the difference and determine if it's meaningful.

I think the main point is that it's constant (and fast!) regardless of the size of the file.

[2015-07-30 02:23] tupton commented on #60
Of course, @dritter has a point and we might not even need `head` or `sed`.

[2015-07-30 12:24] dritter commented on #60
@tupton You are right! Benchmarking first is the way to go.

Here is my benchmark: I have a file with 2,095,680 Lines of Text (7.3GB).

Testscript with `test -n `

    time ./testscript.sh
    DID NOT FINISH!

I cancelled this one after about 10 minutes..

Testscript with `sed q | wc -l `

    time ./testscript.sh
    match!
    ./testscript.sh  0,01s user 0,01s system 100% cpu 0,017 total

Testsc

[2015-07-31 07:58] dritter commented on #60
After sleeping a night over this, it is now clear to me, why `test -n` fails... If we do `$(cat test.txt)` the whole file gets loaded into the memory. The other solutions just pipe it to `sed q`..
*facepalm* for overseeing this..

[2015-08-01 22:23] bhilburn opened #68 "Test `next` branch - from stable v0.1.0"
The theme has reached a point where most of the core infrastructure is solid, we have a growing user-base, and everything appears stable. As our contributions grow more complex, I think it is time we implement a more refined software flow.

Going forward, the `master` branch will be for stable code, only. With the exception of small bugfixes, all new feature development should be branched from `ne

[2015-08-01 22:56] natemccurdy commented on #68
Sounds like a plan. I'll start using the next branch and checking for bugs.

[2015-08-01 22:57] bhilburn commented on #68
Thanks so much, @natemccurdy! I really appreciate it `=)`

[2015-08-03 08:46] dritter commented on #68
@bhilburn I'm in! :)

[2015-08-03 16:14] bhilburn commented on #68
@dritter - Great! Are you talking about the branching model?

https://datasift.github.io/gitflow/IntroducingGitFlow.html

[2015-08-03 16:35] dritter commented on #68
@bhilburn Right. What you described sounded much like it.. So maybe switching directly to it may benefit us..

[2015-08-03 16:51] bhilburn commented on #68
@dritter - Yup, I'm familiar with it. The `master` + `maint` + `next` model is effectively the same thing, but was around before `git flow`, and so has different names. It's used by a number of other FOSS projects I'm involved in, and so I just naturally started using it here. The only real difference is that the `release branch` for the latest release is called `maint`, and `develop` is called `n

[2015-08-08 03:49] netcan opened #71 "Hello, The Theme has a small problem on my terminal"
![screenshot - 2015 08 08 - 11 46 39](https://cloud.githubusercontent.com/assets/11377070/9148927/27bb3d2a-3dc3-11e5-8683-ce8c8244dca7.png)
the theme is so cool but on my terminal isn't perfect. I install the awesome powerline fonts, and arg `POWERLEVEL9K_MODE='awesome-patched'`

[2015-08-08 06:33] dritter commented on #71
Hi @netcan
What terminal emulator do you use?

You seem to have two problems:

1. your terminal doesn't support 256 colors. Try to set `TERM=xterm-256colors`, or similar.

2. your terminal seems to use the wrong font. Have you chosen an awesome-patched font in the settings of your terminal emulator?

[2015-08-08 09:57] netcan commented on #71
I use the terminal is gnome-terminal，and Built-In schemes is XTerm，in ~/.zshrc，I `export TERM="xterm-256color"`，and `POWERLEVEL9K_MODE='awesome-patched'` but dosen't work.

[2015-08-09 16:51] dritter commented on #71
@netcan Yep. For this theme you need a special font.

If you use `awesome-patched`, you need a [awesome-font](https://github.com/gabrielelana/awesome-terminal-fonts).
In all other cases, you need an [powerline-font](https://github.com/powerline/fonts)

That should do the trick ;)

[2015-08-10 02:08] netcan commented on #71
![screenshot - 08102015 - 10 04 50 am](https://cloud.githubusercontent.com/assets/11377070/9158339/871c9c7a-3f47-11e5-9e53-9ad6209b703f.png)
![Uploading Screenshot - 08102015 - 10:04:50 AM.png…]()
But it look like dosen't work...and this is my ~/.zshrc
![screenshot - 08102015 - 10 07 47 am](https://cloud.githubusercontent.com/assets/11377070/9158343/ae11e7a4-3f47-11e5-973c-c2d7936e99eb.png)

[2015-08-10 07:15] dritter commented on #71
This is still the wrong font.

To clear things up:
In `awesome-patched` mode you need either a font that combines the original awesome font, octoicons and a powerline-patched font _or_ a mechanism to use a normal font and fall back to the right one. The `awesome-terminal-fonts` repository suggests the latter way, but offers in its `patching-strategy` a already combined font (first way).
If the sec

[2015-08-10 11:11] netcan commented on #71
![screenshot - 08102015 - 07 05 52 pm](https://cloud.githubusercontent.com/assets/11377070/9170149/f7137260-3f92-11e5-9aab-3db8b1c40be3.png)
em. It work! I use already patched fonts...Thanks

[2015-08-10 11:37] dritter commented on #71
Good to hear! You are welcome :)

[2015-08-10 11:48] dritter commented on #71
Btw. Could you mark this issue as resolved and close it? Thx.

[2015-08-10 12:19] #71 closed

[2015-08-13 16:49] mnameghi opened #73 "Font awesome not showing"
I installed font awesome form this [repo](https://github.com/gabrielelana/awesome-terminal-fonts) but not showing correctly.
I think problem is for config file.

[2015-08-13 22:49] bhilburn commented on #73
Hi @mnameghi - Can you provide additional details regarding your problem? What do you mean by "not showing correctly"? What config file are you referring to? How did you install the font, and what OS are you using? Do the fonts work in an editor but not in your terminal?

[2015-08-13 22:58] bhilburn commented on #56
Hey @dritter - Do you have a branch where you have tried to integrate @apjanke's changes into our code? Seems like a good place to start. Let me know the branch name and I'll pull it and start debugging, too.

[2015-08-13 23:28] apjanke commented on #56
FYI: The stuff about the `%{...%}` is described in the ["Prompt Expansion: Visual Effects"](http://zsh.sourceforge.net/Doc/Release/Prompt-Expansion.html#Visual-effects) section of the `zsh` reference manual. Basically, literal characters which do not change the cursor position (like terminal escape sequences) need to be wrapped in that to let zsh know they're "zero-width" or non-displayable. Excep

[2015-08-13 23:29] apjanke commented on #56
(Sorry for just popping up in your comments here uninvited, but I got a Notification about this b/c bhilburn at-mentioned me, and I couldn't resist chiming in, since I spent quite a while sorting this stuff out myself recently...)

[2015-08-14 15:46] bhilburn opened #74 "Unknown Characters in VCS Segment"
We were discussing this previously in a separate bug, and I thought I had narrowed it down to simply a configuration issue, but now I'm not so sure.

I've been using Linux machines exclusively so far. I just now grabbed an MBP and set up OMZ and Powerline on it. It was looking great until I updated my remotes, and `git` reported that I was behind. I then saw a garbage character instead of the `beh

[2015-08-14 17:01] bhilburn commented on #74
I think it's actually interpreting the numeric characters as part of the UTF character - the displayed character changes depending on how many commits I am behind:

<img width="654" alt="screen shot 2015-08-14 at 10 00 11 am" src="https://cloud.githubusercontent.com/assets/569571/9279296/6c3eff02-426b-11e5-92eb-a1d342ae72ba.png">

[2015-08-15 03:57] mnameghi commented on #73
Hi
I am using ubuntu and installed oh_my_zsh.
I installed font from this(https://github.com/gabrielelana/awesome-terminal-fonts).
from this repo:

I don't know what is the name and my terminal show some other character instead of git icon.

[2015-08-15 10:38] dritter commented on #73
@mnameghi This is the wrong font.
Have a look in #71 how to install the right one. ;)

[2015-08-15 10:55] dritter commented on #56
@bhilburn Yes, I created branch `dritter/character_protection` a while ago, but I wanted `dritter/customizable_icons` to be merged first, as this benefits more users. Also, I had some trouble to get it working properly. I mean the characters are not the problem, but aligning the segments correctly is quite hard.

@apjanke No need to apology. I love github for the collaboration and this is the best

[2015-08-15 11:48] dritter commented on #74
@bhilburn are you sure that `POWERLEVEL9K_MODE` is not set to `awesome-patched`? I had this issue on my linux machine with mode set to `awesome-patched`, but no awesome-terminal-font installed..

[2015-08-15 14:06] dritter commented on #74
I found it! It's the change to uppercase UTF-8 codepoints. In some cases, it seems to be necessary, but in others (like this one), it is mandatory to use lowercase `\u`..
What a mess. :cry:

[2015-08-16 07:25] mnameghi commented on #73
Thanks :)

[2015-08-16 07:25] #73 closed

[2015-08-18 02:51] alexzhuaz opened #76 "Unreadable vcs format string in left prompt"
Recently I updated the powerlevel9k to latest master branch and I find a small bug in left prompt.
If the vcs repository backend is git-svn, the left prompt will extend with a string 'git-svn' which is very hard to read because it's font color is same as default foreground color.
So I made a small fix to solve the problem, hope it can help others with the same problem.

diff --git a/powerlevel9k.z

[2015-08-18 16:25] dritter commented on #76
Hey @alexzhuaz !
Thanks for the patch. Looks good to me. Could you submit a proper pull request? I don't want to steal your credit. ;)

[2015-08-19 18:22] paulochf commented on #71
Hi! Can someone help me?

I'm having almost the same problem as @netcan's.

![term](https://cloud.githubusercontent.com/assets/107470/9364948/39cac470-4685-11e5-95ae-17dc4e74e20c.png)

Then I saw @dritter's comment

But I didn't figure out how to resolve this issue.

I'm using zsh on gnome-terminal, and the cited fonts from gabrielelana/awesome-terminal-fonts@c24e7e1e8c2106ef8a136b0861c11ce95b5554

[2015-08-19 18:35] bhilburn commented on #76
Hey @alexzhuaz - just here to echo what @dritter said. Thanks for the awesome patch! I'm happy to apply your patch as-is, but if you would like authorship can you submit it as a PR?

https://github.com/bhilburn/powerlevel9k/pulls

Alternatively, you could e-mail it to me with git format-patch.

[2015-08-19 18:38] bhilburn commented on #74
@dritter - Ugh. Fonts are such a mess.

Do you already have a branch where you are sorting out which need to be `\U` and which need to be `\u`? If not, I'll start looking at it.

[2015-08-19 18:39] bhilburn commented on #56
@apjanke - I really appreciate you hopping in! You clearly have a lot of expertise / knowledge about these items, and it's very helpful that you are willing to share some of your experience.

[2015-08-19 18:39] bhilburn commented on #74
@dritter - Ignore my last comment (which I just deleted). I'm an idiot.

[2015-08-19 18:42] bhilburn commented on #74
Confirmed that PR #74 fixes the problem! Thanks, @dritter!!

[2015-08-19 18:42] #74 closed

[2015-08-19 20:40] dritter commented on #71
Hi @paulochf !

It seems like you mixed two things together.

Either you install `awesome-terminal-fonts` with `fontcache` (**normal installation**). Then you have to copy the fallback-fonts to `~/.fonts`.

Or you just install an already patched font (**patching-strategy**). Then all you have to do, is to download one of the three fonts from [here](https://github.com/gabrielelana/awesome-terminal-

[2015-08-21 17:13] paulochf commented on #71
Hey @dritter!

Ok, so (I guess) I removed the `awesome-terminal-fonts` and tried the **patching-strategy**. Downloaded the 3 fonts from your link to `~/.fonts`. When double-clicked, it opened the Font Viewer and there's a grey shaded button "Installed".

So, I went to `~/.zshrc` and enabled the theme

[code]

but then

![zsh2](https://cloud.githubusercontent.com/assets/107470/9414414/b4e723c6-480e

[2015-08-21 20:00] dritter commented on #71
@paulochf That looks awesome! :) Glad that you figured it out.
I think we need a simpler installation tutorial..

[2015-08-27 03:06] bhilburn opened #78 "VCS Segment: Extra Space During Action State"
I noticed this while merging your latest PR, @dritter, but the bug wasn't introduced in your PR. In fact, it's not even relegated to `next` - it also exists on `master`.

During a normal workflow, everything looks fine:

<img width="819" alt="screen shot 2015-08-26 at 8 00 58 pm" src="https://cloud.githubusercontent.com/assets/569571/9511664/d66b5cec-4c2d-11e5-88bd-e23e4eb9d9ec.png">

But look wha

[2015-09-01 03:57] labianchin commented on #76
Ow, now I saw this. I guess PR #82 is related to this bug.

[2015-09-03 19:36] bhilburn commented on #76
Fixed in PR #82.

[2015-09-03 19:36] #76 closed

[2015-09-03 19:36] #68 closed

[2015-09-03 20:09] bhilburn opened #84 "`dir` segment: Extra space in prefix on `next` branch"
On the `next` branch, there is an extra leading space on the `dir` segment. Check out the screenshot below, where I'm on the `next` branch, then checkout `master` and open a new terminal:

![dirsegment](https://cloud.githubusercontent.com/assets/569571/9669571/ef86c670-523c-11e5-87e5-71bd6472353d.png)

You can see the extra leading space in the first prompt.

[2015-09-04 09:37] dritter commented on #84
Whoops. My fault. I've made a quickfix for that.

A better solution might be to always print a whitespace if there is an icon to print (default-whitespace in `print_icon`). Then the icon definition would be simpler, except for the icons that need more space (like the github-icon).

[2015-09-05 21:44] #78 closed

[2015-09-05 22:05] bhilburn commented on #84
Fix has been merged.

[2015-09-05 22:05] #84 closed

[2015-09-13 13:51] lanffy opened #93 "Awesome Powerline Fonts dose not worked"
this is my .zshrc content:
[code]

I installed pro like **how to install** as your said.

when the config is **POWERLEVEL9K_MODE='awesome-patched'** and the terminal is like this:
![terminal1](http://7xjh09.com1.z0.glb.clouddn.com/terminal1.png)

when the config is **POWERLEVEL9K_MODE='flat'** and the terminal is like this:

![terminal2](http://7xjh09.com1.z0.glb.clouddn.com/terminal2.png)

[2015-09-13 16:23] miguelcarax opened #94 "Theme doesnt' show when i go supersuser"
After i do a "sudo su" or "su" the theme disappear and i have no theme.

![captura de pantalla de 2015-09-13 18-22-27](https://cloud.githubusercontent.com/assets/9194709/9837583/7c7cd010-5a44-11e5-8a3b-fd65f85c4a8d.png)

[2015-09-13 16:30] dritter commented on #94
`su` switches the user completly. Either you have to install the theme for root as well, or you try to get superuser-rights by using `sudo -s`.

[2015-09-13 16:33] miguelcarax commented on #94
How can i install theme for root?

[2015-09-13 16:38] dritter commented on #94
Same way as for normal user, clone this repository and source it from your `~/.zshrc` (or install your favorite ZSH-Framework).

But it strongly recommend to use `sudo -s`, as you don't need to install the theme again.

[2015-09-13 16:52] miguelcarax commented on #94
Looks like sudo -s doesn't work for me

I copy my ~/.zshrc and /.oh-my-zsh into /root/ and that's work!!

[2015-09-13 17:14] dritter commented on #94
@miguelcarax Glad to hear that!
Can you close this issue then?

[2015-09-13 17:23] miguelcarax commented on #94
Closes bhilburn/powerlevel9k#94

[2015-09-13 20:55] #94 closed

[2015-09-13 21:01] bhilburn commented on #93
@lanffy - Just to confirm, if you comment out the `POWERLEVEL9K_MODE` setting, does everything render correctly? You won't be using the "Awesome Font", obviously, but does the normal config work correctly?

[2015-09-14 01:43] lanffy commented on #93
@bhilburn ,thank you for your answer.
When I close the **POWERLEVEL9K_MODE** config like this:
**#POWERLEVEL9K_MODE='flat'** and **POWERLEVEL9K_MODE='awesome-patched'**
the terminal looks like this:
![terminal3](http://7xjh09.com1.z0.glb.clouddn.com/terminal3.png)

So, how can use terminal like this:
![googTerminal](https://cloud.githubusercontent.com/assets/1544760/7959660/67612918-09fb-11e5-9ef2

[2015-09-14 07:47] dritter commented on #93
@lanffy can you close this issue, as this is a duplicate of https://github.com/gabrielelana/awesome-terminal-fonts/issues/18

[2015-09-14 08:11] #93 closed

[2015-09-15 22:32] bhilburn commented on #56
Fixed by #90

[2015-09-15 22:32] #56 closed

[2015-09-15 23:03] dritter opened #95 "Switching `awesome-patched`-mode to nerd-fonts"
I recently stumbled upon another font-patching project [nerd-fonts](https://github.com/ryanoasis/nerd-fonts) which looks quite nice and foremost uses the same codepoints as the original fonts. Using this fonts instead of the awesome-terminal-fonts would improve the code in a sustainable way. We just have to test two font-settings and the users would have a nice overview of the available glyphs (in

[2015-09-17 12:04] christian-schulze opened #96 "vi-mode segment"
I'm using the `vi-mode` plugin, and have hacked together a custom segment to indicate the editing mode. Is this something you would consider adding to your theme?
[code]

[2015-09-17 15:52] dritter commented on #96
@christian-schulze Cool! Thanks for your contribution. Could you make a proper pull request? I think there are a couple people using vi-mode.

[2015-09-18 22:54] dritter opened #97 "Icons: The Masterplan"
As you requested in #91 , here is the masterplan to get to stable icons. I'll describe it here from the beginning, it may serve as possible explanation for other users.
### Documentation
#### Introduction

This theme uses special icons to look fancy. So we need special fonts to display these special icons correctly. There are two ways to use these fonts:
1. We can use pre-patched fonts. This is th

[2015-09-19 23:31] bhilburn commented on #96
Added in PR #98 merge!

[2015-09-19 23:31] #96 closed

[2015-09-19 23:42] bhilburn opened #100 "Prepare for Release v0.2.0"
## Announcing Code Freeze for v0.2.0 Release

Hi all -

Thanks for everyone's contributions to `powerlevel9k`! We have added some significant new features since the v0.1.0 release tag, and I believe now is a good time to prepare for the v0.2.0 release.

The `next` branch is now frozen except for bug fixes and documentation improvements. If you aren't already using `next`, please switch over to hel

[2015-09-20 02:03] christian-schulze opened #101 "vi_mode segment not working as KEYMAP parameter no longer being set"
Unfortunately the `vi_mode` segment has stopped functioning after being merged into the `next` branch,  which I've traced back to the `KEYMAP` parameter no longer being set.

`${KEYMAP}` should evaluate to one of `vicmd|viins|main` but is now blank. I'm pretty new to zsh so if anyone has any ideas please chime in. In the meantime I'll do some more troubleshooting.

[2015-09-21 16:39] dritter commented on #101
Strange. The other code in `next` should be completely unrelated. I'll try to double check that later.

[2015-09-22 16:52] dritter commented on #97
@tcbbd: Do you want to implement the "interim solution"? You just need to merge your changes from https://github.com/bhilburn/powerlevel9k/compare/master...tcbbd:master into the `icons` variable (key: `awesome-fallback`) in the `next` branch.
That would be cool.

[2015-09-28 17:43] bhilburn commented on #101
Fixed by merging PR #104.

[2015-09-28 17:43] #101 closed

[2015-09-28 18:32] dritter opened #107 "Add missing icons in `awesome-fontconfig`"
@V1rgul could you add the missing Icons in my [`awesome_fontconfig_cleanup`](https://github.com/dritter/powerlevel9k/tree/awesome_fontconfig_cleanup)-branch? That would be awesome. Unfortunately neither me nor @bhilburn have installed awesome-terminal-fonts the fontconfig way..
Here is a screenshot of the `awesome-patched` configuration:
![bildschirmfoto 2015-09-28 um 20 21 13](https://cloud.githu

[2015-09-28 18:45] bhilburn commented on #100
Hi all -

We have received some great bug fixes / improvements to `next`, and I think we are nearing the release.

I would like to give the README a nice facelift. A part of this will be providing some screenshots of different configurations.

Can you all do me a favor and post a screenshot of your prompt configuration, if you don't mind sharing it? Thanks!

@dritter
@labianchin
@jkoelndorfer
@gil

[2015-09-28 22:40] dritter commented on #100
@bhilburn why don't we collect these screenshots on a new wiki page? I had this in mind for several weeks now.

Just started [this page](https://github.com/bhilburn/powerlevel9k/wiki/Show-off-your-configuration!). Hopefully this is what you had in mind. By having a separate wiki page we motivate others to share their configurations, other users get help and a showcase, and we get some nice screens

[2015-09-28 22:42] bhilburn commented on #100
@dritter - Actually, yes, I was going to put most of them in a wiki page. Thanks for getting it started! I do want to take a couple of them and feature them at the top of the README, though.

[2015-09-28 23:40] bhilburn commented on #107
Fixed by #108

[2015-09-28 23:40] #107 closed

[2015-10-01 21:05] dritter commented on #100
@bhilburn I think besides new screenshots, we need a nice animated gif as many other themes have. That would be a nice-to-have in the readme as well as in the [External themes](https://github.com/robbyrussell/oh-my-zsh/wiki/External-themes) page.

[2015-10-01 23:41] bhilburn commented on #100
@dritter - I agree, an animated gif would be nice. Any recommendations for good tools to create them?

[2015-10-02 06:36] giladgo commented on #100
@bhilburn LICEcap http://www.cockos.com/licecap/

[2015-10-02 08:22] dritter commented on #100
Another option would be [ttystudio](https://github.com/chjj/ttystudio).

If we want videos instead of animated gifs, we could use [asciinema](https://github.com/asciinema/asciinema).

For that I think we need a good script to record the best features. IMHO that should be features that most of our users customize, like flexible segments, overriding colors, the flexibility of the vcs segment, etc.

[2015-10-05 18:56] bhilburn commented on #100
Hey all -

I'm going to update the readme and tag a new release this week. If you haven't already and are up for it, please post your configuration here for our users =)

https://github.com/bhilburn/powerlevel9k/wiki/Show-off-your-configuration!

[2015-10-07 09:22] keirlawson opened #110 "Way to align right hand segments with edge of terminal"
Using this theme with gnome terminal I am finding there is a one character gap between the right hand segment and the edge of the terminal.  Is there any way to get rid of this?

![zshissue](https://cloud.githubusercontent.com/assets/49213/10333642/3a72d92a-6cdd-11e5-93c6-e34a4b739e28.png)

[2015-10-07 15:42] dritter commented on #110
@keirlawson the right hand indent is controlled by the variable `ZLE_RPROMPT_INDENT` in ZSH. I tried once to get rid of the gap by setting it to 0, but it messed up the cursor position. I haven't had time to fix this yet.

From the manpage:

[2015-10-11 22:13] dritter commented on #110
For the protocol: There was an [interesting conversation](http://www.zsh.org/mla/workers/2013/msg01176.html) on the mailing list in late 2013.

[2015-10-12 22:06] bhilburn commented on #100
v0.2.0 has been tagged and released!!

Thanks for your contributions and help, everyone!

[2015-10-12 22:06] #100 closed

[2015-10-12 23:35] dritter commented on #100
Awesome!
The new README looks great! :+1:

[2015-10-15 21:43] dritter opened #115 "Allow Conditional Segments to Always Be Shown"
This is a follow-up from #113

Some segments seem to be helpful in a "server"-like context, and some in a "project"-like one. For example, I work as a web developer and sometimes need to know about the PHP-Version on the server, but on my local machine I just need that information in development project. So if I am outside of that development project (-folder) that segment is not shown.

Maybe we

[2015-10-18 03:47] bhilburn commented on #110
@keirlawson - It's not just a problem with gnome-terminal - it actually exists in a every emulator I have used ZSH in, to date. As @dritter said, it seems to be a ZSH drawing issue.

@dritter - I don't think we can work around this safely in our theme, as it will change from emulator to emulator. Do you agree? If so, I'm afraid this bug is something we can't address.

[2015-10-18 04:03] bhilburn commented on #97
@dritter - So, to make this even more complicated, I think there are additional things we need to consider.

For example, I would bet many of our users use other programs that rely on specific code points, like [vim-airline](https://github.com/bling/vim-airline), or folks with [fancy tmux configs](https://github.com/erikw/tmux-powerline) now using [powerline](https://github.com/powerline/powerline

[2015-10-18 04:22] bhilburn commented on #115
@dritter - I agree, better configuration of conditional segments would be very useful.

As you point out, in the extreme case, users could actually write the conditional statement. We may want to support this, but I don't think this should be the default - most users won't know how to take advantage of it.

I like the option to set an "ALWAYS_SHOW" option, as you modeled in your branch. Do you thi

[2015-10-18 06:33] martinpelikan opened #122 "f3d2a07 introduces a syntax error?"
It has been a while since my last update of this theme.  It looks like f3d2a0755ef421b22b8d5f9a8db6d66e2f774ef9 introduces a regression:
[code]

This causes the powerline-style markup of the segments to not colorize or show special characters. This issue is present in the current version as well:
[code]

I'll follow up if I find the issue or a fix.

[2015-10-18 07:02] martinpelikan commented on #122
My guess is that the 'extension' refers to the SI prefixes and they are supposed to be strings, but are being interpreted as functions or some such thing. This patch should fix it:

[code]

[2015-10-18 21:32] DanielGGordon opened #125 "Cygwin integeration"
Is it possible to get this to work with Cygwin? I followed instructions but I still get empty boxes for symbols. I ran the install.sh script to install fonts, but I can't seem to get any of them to work. I'm running Cygwin inside Cmder (which uses Conemu), and I selected the Meslo LG M for Powerline as my font.

![image](https://cloud.githubusercontent.com/assets/11824880/10566828/1abc30a8-75b7-11

[2015-10-19 22:59] dritter commented on #125
Thanks for your report!

Uhm. Haven't done very much with cygwin for a long time..

Can you do an `echo awesome: "\uE0B0" new powerlline "\uE0B0" old powerline "\u2B80"` and post the result here?
And could you please double-check that you selected your powerline font in Conemu? I think it is the "alternative font"-Setting like shown in this screenshot: https://conemu.github.io/en/Settings.html#Mai

[2015-10-20 00:00] mfarrugi commented on #122
If you are using omzsh common aliases, G is aliased to `| grep` and being expanded.

Moving the units to strings fixed this for me, thanks!

[2015-10-20 03:00] rjorgenson commented on #95
I found the same thing and tried out a swap the other day. All of the font-awesome icons were narrow and squished, but I was just trying their patched fonts which are about a month old. Might have better luck patching myself. There were also a few glyphs still missing from font-awesome and octicons, but I found suitable replacements for them with what was included.

[2015-10-20 07:20] dritter commented on #95
@rjorgenson I had exactly the same experience with nerd-fonts. Thats why this is a long-term issue. The plan to switch fonts is in #97

[2015-10-20 19:15] sfarzy opened #130 "awesome-patched not working in new sessions"
In a session, when configured to awesome-patched and sourced, glyphs are properly displayed. But in the new session i have source again. This is same in both terminal and iTerm
#### iTerm2
![screen shot 2015-10-21 at 12 43 43 am](https://cloud.githubusercontent.com/assets/10276208/10618304/d35657b6-778c-11e5-904d-34f7f74621e2.png)

#### zshrc
![screen shot 2015-10-21 at 12 32 49 am](https://cloud.

[2015-10-20 19:53] dritter commented on #130
I cannot reproduce this issue with my test configuration. Could you post your whole `.zshrc`?

Do you have a `.zshenv` file which has contrary settings?

[2015-10-21 04:17] sfarzy commented on #130
No, I don't have a ```.zshenv``` with contrary settings

I did some tweaks to add the battery time remaining, How is that affecting this ?

#### zshrc
![screen shot 2015-10-21 at 9 33 25 am](https://cloud.githubusercontent.com/assets/10276208/10627428/ceafc130-77d6-11e5-8b9e-f4cae7314ec6.png)

[2015-10-21 05:10] rjorgenson commented on #130
what's the output of ```echo $POWERLEVEL9K_MODE``` when it is not displaying the glyphs? It's acting like your initial session isn't setting that environment variable properly. Has it always worked this way, or did it start happening after you made some changes? In your .zshrc it looks like you call ```antigen-use oh-my-zsh``` - according to the documentation on their github it should be ```antige

[2015-10-21 05:44] sfarzy commented on #130
@rjorgenson It was a mistake ```antigen-use oh-my-zsh```. Corrected it now.

As you can see, it's ```awesome-patched``` even when the glyphs are not properly shown.

![screen shot 2015-10-21 at 11 10 31 am](https://cloud.githubusercontent.com/assets/10276208/10628580/89c4d4f8-77e4-11e5-9dc7-ca2038357ece.png)

[2015-10-21 06:05] dritter commented on #130
@sfarzy Could you post the output of `setopt xtrace` before sourcing .zshrc?

[2015-10-21 07:18] sfarzy commented on #130
@dritter Sorry if being naive, How should i post the output of  ```setopt xtrace``` ?
It spans multiple pages and I'm unable to save it to a file.

[2015-10-21 08:09] dritter commented on #130
Just post the zsh version. I think this would help more..

To post the xtrace, just mark it with the mouse and copy&paste it here.

[2015-10-21 08:39] sfarzy commented on #130
```zsh --version```
zsh 5.1.1 (x86_64-apple-darwin15.0.0)

```setopt xtrace```

[code]

[2015-10-21 23:54] #122 closed

[2015-10-21 23:58] bhilburn commented on #110
Unfortunately, I don't think this is something we can fix in our theme.

[2015-10-21 23:58] #110 closed

[2015-10-23 14:48] jmiguelv opened #131 "History substring search"
When I use this theme the the history substring search plugin does not work. Any ideas why or has anyone seen this problem before?

Thank you

[2015-10-23 16:13] bhilburn commented on #131
@jmiguelv - I actually use history-substring-search, and it works fine.

I have had history-substring-search break a number of times, and it is always the result of an update to another plugin I'm using. I've found that changing the order of the plugin loads often fixes the problem. This is what I'm using right now:

[code]

[2015-10-23 17:44] bhilburn commented on #131
It could also be your keybindings:

[code]

[2015-10-23 20:53] jmiguelv commented on #131
Thank you for the suggestions @bhilburn. The plugin works with other oh-my-zsh themes though. I have also tried using just the `history-substring-search` plugin, but not luck. Here is my configuration:
[code]

[2015-10-24 00:08] dritter commented on #130
@sfarzy I messed up retesting this issue. Apologies for that.

You have to specify the `POWERLEVEL9K` variables before the `antigen theme`. Your configuration should look like:

[code]
That should work.

[2015-10-24 07:34] sfarzy commented on #130
Thank you so much, That works.

[2015-10-24 07:34] #130 closed

[2015-10-25 20:18] martinpelikan opened #132 "Slow loading prompt in some repositories"
I just checked out https://github.com/ryanoasis/nerd-fonts because of the discussion I saw in #95. (tl;dr: I'm using urxvt and the fallback method doesn't seem to be an option, nerd-fonts provides patched fonts for Ubuntu mono which I like).

Anyway, the prompt takes somewhere between half a second to a second to load. Even when I remove all the segments, this is the case which is a bit strange. M

[2015-10-26 03:04] martinpelikan commented on #95
I actually didn't have luck with awesome-terminal-fonts before, because I didn't like any of the pre-patched fonts and urxvt does not like the fontconfig fallback approach. nerd-fonts seems like an outright improvement, at least in my case.

The glyph sizes are appropriate in gnome-terminal (seen on the right). However, I think some/most of these are "double-wide glyphs", so urxvt shrinks them to

[2015-10-26 09:02] dritter commented on #132
The prompt in my `nerd-fonts` checkout is as fast as in other repositories.. It is slower than in non-VCS folders, but that is normal (VCS_INFO does a lot).

For comparison, my segments are:
`status os_icon load context dir vcs symfony2_version time`

[2015-10-26 17:19] dritter commented on #131
I can reproduce this bug even in `master`.. If I change my theme to any other, it disappears. So it must be a problem of powerlevel9k. :(

[2015-10-26 21:32] jmiguelv commented on #131
Just rolled back to version 0.1.0 and the history substring search plugin works with that version.

[2015-10-26 21:52] jmiguelv commented on #131
It seems the plugin stopped working after commit f18c92d76664f53351515f0f71a1047b7766648c

[2015-10-26 22:04] jmiguelv commented on #131
That commit added 2 new functions `zle-line-init` and `zle-keyma-select`, they both appear to do the same, preparing and resetting the prompts. Commenting out `zle-line-init` seems to fix the issue, but I am not sure why.

[2015-10-26 23:19] dritter commented on #131
@jmiguelv Great work! Thanks. I didn't expect that..

[2015-11-01 07:36] ariscn commented on #95
It looks like none of powerline9k's modes work with nerd-tools? I'm using a pre-patched nerd-tools font (fontawesome, octicons, pomicons, and implicit devicons), and while `awesome-fontconfig` comes close, it still has some gaps:

<img width="1114" alt="screenshot 2015-11-01 00 34 50" src="https://cloud.githubusercontent.com/assets/13629660/10867746/6f7d88e8-8030-11e5-81f2-a8224916158a.png">

It's

[2015-11-01 21:02] ryanoasis commented on #95
Ah font fun :smirk:

@dritter Yeah unfortunately there are quite a few serious issues still :worried: so I have mostly been focusing on the low hanging fruit to keep the project moving :smile: . I was initially just creating it for another project I had but the more useful others find it the more I try to put into it.

@rjorgenson All of the "pure" mono versions currently have the squished issue/e

[2015-11-01 21:28] dritter commented on #95
@ryanoasis Don't worry, I'll wait till everything is ready :wink:

[2015-11-01 21:39] ryanoasis commented on #97
Let me know what I can do to help out. Cheers! :smile:

[2015-11-01 22:12] dritter commented on #97
@bhilburn Not really. I made an [issue](https://github.com/ryanoasis/nerd-fonts/issues/34) up regarding unstable code points, but in total they are quite stable. `font-awesome` on the other hand has different  code points for the different strategies and do a relocate by default (which is what I consider "unstable").
Further the `nerd-fonts` project emerged from a VI background AFAIK.

I think the

[2015-11-02 01:11] ryanoasis commented on #97
Yes, that is correct: https://github.com/ryanoasis/vim-devicons

I didn't know what I was getting into with customizing fonts :smiling_imp: it is both fun and frustrating... just like everything worth doing is I suppose :laughing:

[2015-11-02 15:19] fbbdev commented on #131
`history-substring-search` (and many other plugins) depend on oh-my-zsh changing terminal mode in `zsh-line-init`. See robbyrussell/oh-my-zsh#4540
Maybe you can check if the function is already defined and wrap it in your implementation.

[2015-11-02 22:56] bhilburn commented on #131
@dritter - Are you following up on this one (I just don't want to duplicate work)? I'd like to get a fix merged into `master` as soon as we can.

[2015-11-02 22:57] bhilburn commented on #125
@DanielGGordon - Let us know how @dritter's suggestions, went! If it is working for you, can you close this issue?

[2015-11-02 23:40] dritter commented on #131
Well.. I tried to adapt the fixes in the according pull requests of OMZ but had no luck. I am currently waiting for them to see how they fix this problem. I am not much into keymaps, so I am not the best one on that.

[2015-11-02 23:43] bhilburn commented on #131
I'm actually fairly confused about this, because `history-substring-search` still works for me using powerlevel9k `next` branch, and latest ZSH pull.

@jmiguelv - What version of ZSH are you using? I'm on e44aa50301

[2015-11-03 09:31] jmiguelv commented on #131
@bhilburn I am on `zsh 5.1.1 (x86_64-apple-darwin15.0.0)`

[2015-11-03 18:02] bhilburn commented on #131
@jmiguelv - Judging by the fact that it doesn't work for you or @dritter, and you are both on Macs, I'm guessing that's the difference - I'm on Linux.

@dritter - This works perfectly fine for me. Any guesses on what might be different between the OSes that could be causing this?

I'm on `zsh 5.0.8 (x86_64-redhat-linux-gnu)`. I wonder if the older version of ZSH is impacting this.

[2015-11-03 23:45] alexlafroscia opened #133 "No warning about change in behavior within the `virtualenv` segment"
~~I noticed while testing #119 that the `virtualenv` segment seems to be broken.  I tried it against `master` and `next`, with `master` working fine but `next` being broken.~~

Never mind: it seems that instead of being broken, the condition changed.  While it used to check to see if `$VIRTUAL_ENV_DISABLE_PROMPT` was set, it now checks to see if it is not set to `true` before rendering the segment

[2015-11-03 23:48] alexlafroscia commented on #133
Nevermind: it seems that instead of being broken, the condition changed.  While it used to check to see if `$VIRTUAL_ENV_DISABLE_PROMPT` was set, it now checks to see if it is not set to `true` before rendering the segment, and only renders it if is it not true.  There doesn't seem to be any documentation about the change, so this might confuse people that upgrade.

[2015-11-04 09:34] dritter commented on #133
I think we need a changelog..

Sorry for the inconvenience. :(

[2015-11-04 16:30] alexlafroscia commented on #133
A changelog would really be perfect.  Since the dev flow nowadays seems to be merging a bunch of things into `next` and then from there into `master` it would be great if that commit got tagged as a release, where you can add notes about changes in there.

[2015-11-04 19:06] dritter commented on #131
@bhilburn I still can't believe this is a OS thing. Rather a configuration issue. I can see you set the `history-substring-search-up` and `history-substring-search-down` keys explicitly. Maybe this is why it works for you? But this is just a wild guess..

[2015-11-04 19:12] bhilburn commented on #131
@dritter - If I remove those keybindings, it does indeed stop working.

That raises the question, though, of how our theme could possibly break that?

[2015-11-04 20:05] jmiguelv commented on #131
What is the main reason for the theme to implement `zle-line-init`? It
seems to work fine without it, that's how I have been using it to
workaround this issue.

On 4 Nov 2015 19:12, "Ben Hilburn" <notifications@github.com> wrote:

that?

[2015-11-04 20:47] dritter commented on #131
@jmiguelv The main reason is the `vi_mode` segment. Without that function the initial state of the vi-mode won't be displayed. Also, if you press CTRL+C the vi-mode segment disappears..

[2015-11-04 20:56] fbbdev commented on #131
I don't know zsh very much, but can't you do something like this
(pseudo-code):

‘‘‘
if zle-line-init is defined
  zle-line-init-old = body of zle-line-init
end if

zle-line-init () {
  zle-line-init-old
  # powerlevel9k settings
  ...
}
‘‘‘

On 21:47, Wed, Nov 4, 2015 Dominik Ritter <notifications@github.com> wrote:

[2015-11-05 18:37] bhilburn commented on #131
I'd like to get a fix merged into master for this as soon as we can - I imagine this could annoy folks quite a bit.

@dritter - Any thoughts on @fbbdev's suggestion? Have any other themes solved this issue, I wonder?

[2015-11-07 14:07] dritter commented on #131
I really don't think this is an issue of this theme. Rather an issue of the ZSH settings the user has set (or of the framework the user uses).

In the [zsh-history-substring-search](https://github.com/zsh-users/zsh-history-substring-search) plugins readme it says to set:

[code]
That did the trick for me. I don't understand enough of the different keymappings ZSH has to come up with a serious solu

[2015-11-07 16:08] jmiguelv commented on #131
I already had the following in my `.zshrc`:
[code]
which worked with other themes. If I change the configuration to
[code]
it also works with powerlevel9k. Thank you for the hint @dritter.

[2015-11-08 23:22] dritter commented on #131
@apjanke gives an explanation in https://github.com/robbyrussell/oh-my-zsh/issues/2735

[2015-11-09 00:21] apjanke commented on #131
Yep, that's what it looks like: redefining `zle-line-init` and not having it issue `smkx` means  `$terminfo`-based key mappings for keypad buttons can't be used. `terminfo` only supplies the "keypad application" mode sequences. The hardcoded `'^[[A'` and `^[[B'` sequences are what xterms send in "keypad local" mode.

I think you'd want to support `$terminfo`. It's nice for portability and readabil

[2015-11-10 21:44] dritter commented on #131
@apjanke I have some trouble getting that to work. I see in your PR https://github.com/robbyrussell/oh-my-zsh/pull/4191 that you removed the `smkx` and `rmkx` related code..

My simple approach was:
[code]
But that didn't work.
Thanks for your help.

[2015-11-11 04:28] apjanke commented on #131
@dritter The code I removed in robbyrussell/oh-my-zsh#4191 was some broken additional `smkx`/`rmkx` code that was overriding the [original `zle-line-init` in the core OMZ `lib/key-bindings.zsh` files](https://github.com/robbyrussell/oh-my-zsh/blob/83c4e0620689d2410056bddcdfbf8e300673e982/lib/key-bindings.zsh#L5-L16) (Notice how it unconditionally emitted `rmkx` immediately after `smkx`?) The curre

[2015-11-11 10:19] elezar opened #135 "The solution suggested for the terminal color warning is not clear"
When starting a terminal with powerlevel9k as the theme, the following warning is issued:
[code]
Looking into the theme source, I see the following:
[code]
When running ```tput colors``` in the terminal I get ```8```.

I added ```export TERM="xterm-256color"``` to my ```.zshrc``` and then ```tput colors``` returns ```256```, but the warning is still issued.

I am running Ubuntu 14.04, and the mess

[2015-11-11 10:30] elezar commented on #135
The problem was that I added ```export TERM="xterm-256color"``` at the end of my ```.zshrc``` file, but this needs to be set **BEFORE** ```oh-my-zsh``` is sourced.

The message displayed could be clearer.

[2015-11-11 10:31] bh commented on #135
Same here, fixed it with:

~/.zshenv
[code]

[2015-11-11 17:10] dritter commented on #132
@martinpelikan Anything new here? Maybe it is an issue from a ZSH framework you use.. Could you retest it with plain ZSH?

[2015-11-11 21:56] dritter commented on #131
@apjanke Perfect! That works for me (at least in a plain ZSH). The reason why that didn't work in my tests before was, that I used OMZ (which has a broken config that you try to fix in your PRs). Thanks a lot!

[2015-11-12 04:03] apjanke commented on #131
Excellent! Glad to be of help.

[2015-11-12 18:00] bhilburn commented on #131
Fixed by PR #136.

Great work, @dritter!!

[2015-11-12 18:05] bhilburn commented on #133
A CHANGELOG is now part of the project. Thanks, guys!

[2015-11-12 18:05] #133 closed

[2015-11-12 18:06] #131 closed

[2015-11-12 18:06] bhilburn commented on #125
Closing due to inactivity.

[2015-11-12 18:06] #125 closed

[2015-11-12 18:14] bhilburn commented on #135
@elezar - Great catch! Would you like to submit a PR to get commit credit?

[2015-11-12 18:27] bhilburn opened #137 "message for dritter"
This is silly, but I can't figure out another way to do this.

@dritter - Will you send me an e-mail so I have your address? You can find my e-mail on my Github profile page. Thanks! =)

[2015-11-12 18:36] alexlafroscia commented on #133
:tada:

[2015-11-12 19:20] dritter commented on #137
Done. ;)

[2015-11-12 19:26] bhilburn commented on #137
Thanks =)

[2015-11-12 19:26] #137 closed

[2015-11-13 07:40] elezar commented on #135
Sure. I will do so as soon as I get to the office this morning!

On Thu, 12 Nov 2015 19:14 Ben Hilburn <notifications@github.com> wrote:

[2015-11-13 08:42] elezar commented on #135
Looking into this a bit, and seeing that there are a number of options for installing powerlevel9k, I don't know if simply adjusting the message is enough.

Would it not be better to add more info on the installation section?

I am trying to get the vagrant box running so that I can test the other options.

Is there a reason for not just adding the export to the theme file itself?

[2015-11-13 09:54] sdupille opened #138 "Color capability warning"
In powerlevel9k_init() there's this bunch of code :
  # Display a warning if the terminal does not support 256 colors
  local term_colors
  term_colors=$(tput colors)
  if (( term_colors < 256 )); then
    print -P "%F{red}WARNING!%f Your terminal supports less than 256 colors!"
    print -P "You should put: %F{blue}export TERM=\"xterm-256color\"%f in your \~\/.zshrc"
  fi

Unfortunately, on FreeB

[2015-11-13 10:00] dritter commented on #138
@sdupille great catch! Could you submit a pull request for that?

[2015-11-13 11:00] sdupille commented on #138
Hey, I try to submit a pull request, but I can't manage to do it. Sorry, it's my first pull request using github...

Here's the patch, anyway :
index 0d4b3e7..b039f0d 100755
--- a/powerlevel9k.zsh-theme
+++ b/powerlevel9k.zsh-theme
@@ -947,7 +947,7 @@ function zle-keymap-select {
 powerlevel9k_init() {
   # Display a warning if the terminal does not support 256 colors
   local term_colors
-  term_

[2015-11-13 11:09] sdupille commented on #138
OK, pull request created. Hope that's OK.

[2015-11-13 16:12] dritter commented on #135
@elezar Yep, there are several problems with the warning:
- You are right, the `TERM` variable must be defined before the theme is called
- Setting `TERM="xterm-256color"` isn't always the right thing. Some people have other terminals and have to set a different value for that. That is also the reason why we can't just set it in the theme itself. Have a look at #30 for further informations.

I am

[2015-11-13 17:49] bhilburn commented on #138
As @dritter said, great catch, and thanks for the PR, @sdupille!

[2015-11-13 17:49] #138 closed

[2015-11-17 15:45] Tritlo opened #145 "rprompt on same line as lprompt, not one second line"
Greetings,

when I set

    POWERLEVEL9K_PROMPT_ON_NEWLINE=true

the left prompt appears on the same line as the rprompt, and not the line below (as seen in the image associated with the variable).
![rpromptnotonnewline](https://cloud.githubusercontent.com/assets/1667287/11216210/4717295a-8d4a-11e5-9ad8-129905bda6f8.png)

My config is as follows. My terminal is "terminator", though this also happe

[2015-11-17 17:52] dritter commented on #145
@Tritlo just to be clear: You want the RPROMPT on the second line, right? I think there is no flexpoint for that now. We put some effort in showing the RPROMPT on the first line...

Here are the [the relevant lines](https://github.com/bhilburn/powerlevel9k/blob/81a4b3907de32b3dfb54fe6b626c1aa2b5faa13b/powerlevel9k.zsh-theme#L910-L911).

[2015-11-17 18:23] dritter opened #146 "Improve utility-function loading"
Disclaimer: This is by now untested. For now this issue is just a reminder for me (or anybody who is interested in testing this).

Some users load the theme with [zgen](https://github.com/tarjoilija/zgen) (like [tritlo](https://github.com/Tritlo/dotfiles/blob/196760a0fe7a68a8901c448e0757f57cac6df5ba/zsh/.zshrc#L47-L48)). This might be a problem, if zgen loads the theme as a function (like prezto d

[2015-11-17 19:01] Tritlo commented on #145
Yes, on the second line. Thanks, I'll make a fork with the relevant changes, which I can use for me.
I just want to be able to put more info, yet still be able to read the commands.

[2015-11-17 19:09] bhilburn commented on #145
@Tritlo - We would be interested in merging this feature into mainline. Once you have developed it, could you submit it as a PR so that we can pull it in?

[2015-11-17 19:12] Tritlo commented on #145
This adds a new variable POWERLEVEL9K_RPROMPT_ON_NEWLINE, which, if set to true, makes the rprompt appear on the newline, instead of the same line as the lprompt. If accepted, I'll add this variable to the wiki documentation as well.

[2015-11-17 19:14] Tritlo commented on #146
Wow, thanks. My solution is a bit of a hack, but I want my .zshrc to be as self contained as possible.

[2015-11-18 17:59] dritter commented on #146
@Tritlo I think you got me wrong here. This is not about you, writing your dotfiles wrong. It is about how _powerlevel9k_ loads utility functions. That does not play well, if the theme is loaded as a function. In that case we assume that the theme was loaded by prezto and seek for the utility files in a prezto-like path. [This](https://github.com/bhilburn/powerlevel9k/blob/f9957ca5592df0ab992d3750

[2015-11-18 18:26] bhilburn commented on #146
@dritter - Agreed. The issue here is the design we currently have in `next` where we have broken out utility functions. We need to figure out how to make this work to make workflows like @Tritlo easier.

@Tritlo - Sorry for any miscommunication, here! Would you be up for helping us test a fix to powerlevel9k to make this work better?

[2015-11-18 18:38] Tritlo commented on #146
@dritter I see. Should I rather just use

    zgen load bhilburn/powerlevel9k

how does this affect the functionality of powerlevel9k? Is it only the next branch?

[2015-11-18 18:56] dritter commented on #146
@Tritlo No no. All of the different methods should work. Regardless how you load the theme and regardless if the theme was symlinked or loaded directly.

And yes, it is currently only on `next` branch. So the question could be answered easily: Does the `next` branch work for you? Or do you get weird error messages?

[2015-11-18 19:19] Tritlo commented on #146
Yes, the branch seems to work, and no weird errors. However, the battery segment does not seem to work.

[2015-11-18 19:25] rjorgenson commented on #146
@Tritlo What issue are you running into with the battery segment? I've had limited environments to test it on(only ubuntu 14.04 and OS X) and any insight you could provide would be very helpful to making it more portable =]

[2015-11-18 19:40] dritter commented on #146
@bhilburn I think we should have this in mind even `zgen` seems to be clear. The hardcoded path bothers me..

[2015-11-18 19:53] Tritlo commented on #146
@rjorgenson Apparently the battery plugin works for me (ubuntu 14.04), I just had the color setting so that the text was black on black, making it invisible :/

[2015-11-18 19:54] rjorgenson commented on #146
Ahh, well that's good that it works =] I'll take a look at it and see if I can figure out a better way to set default colors so that doesn't happen.

[2015-11-18 19:55] Tritlo commented on #146
@rjorgenson you could maybe just swap out "black" for "cyan". I doubt many people have cyan as their default color.

[2015-11-18 20:21] dritter commented on #132
Another approach could be to render the `vcs` segment asynchronously like described in [this](http://www.anishathalye.com/2015/02/07/an-asynchronous-shell-prompt/) article. This technique is also used by the [pure](https://github.com/sindresorhus/pure) zsh theme. This might be a long-term goal.

[2015-11-18 20:22] Tritlo opened #151 "Battery displays incorrect time remaining"
In [line 272](https://github.com/bhilburn/powerlevel9k/blob/e79a2ffff002a373f79ee25147df92411d174b26/powerlevel9k.zsh-theme#L272) in the prompt_battery function, there is some attempt at converting the 00:08:47 string that acpi outputs to hours and minutes, but for me, it just outputs an incorrect time, i.e., when acpi says that 00:08:47 is remaining, we get

    $ date -u -d @000847 +%k:%M
    0:

[2015-11-18 20:28] Tritlo commented on #151
It seems that it's trying to use 00:08:47 as total seconds, which would amount to 847 seconds, and not 8*60 + 47 = 527 seconds

[2015-11-18 20:34] dritter commented on #146
To stay on topic: `command -V` could be our friend:

[code]
That works for me in ZSH 5.1.1.

[2015-11-18 23:28] #145 closed

[2015-11-21 00:29] bhilburn commented on #151
Closed by merge of #152.

[2015-11-21 00:29] #151 closed

[2015-11-21 20:35] dritter commented on #146
Some news here:
`command -V` is just an alias to `whence -v`. And `whence -v` prints the path to the script since ZSH 5.0.8 ([link](http://zsh.sourceforge.net/releases.html)). The origin of that feature seems to lie in [this message](http://www.zsh.org/mla/workers/2015/msg01096.html).
I haven't found another way of getting the installation path automatically. In the case that this is still not suf

[2015-11-25 11:48] keirlawson opened #158 "Purpose of home icon in dir segment?"
Having updated this theme I now get a home icon in front of my dir segment, however this icon persists even when the path is truncated and thus does not include the home directory.  I guess my expected behaviour would be the home icon replaces ~, but it seems to be in addition to it and regardless of where you are in the tree?

[2015-11-25 22:48] dritter commented on #158
@keirlawson Thanks for the report. Yes, you are right. The home icon is always shown, regardless of being in the home directory or not. When I implemented it, I haven't thought about it that way. The reason why this is an home icon is really profane: I just like icons :grinning:
Almost all other segments in `awesome` mode have icons and I find the home icon quite fitting for the directory segment.

[2015-11-25 22:54] rjorgenson commented on #158
@dritter I had a similar thought to @keirlawson when I started using powerlevel9k, I ended up adding POWERLEVEL9K_HOME_ICON="\ue818 " to my zshrc which is a folder icon. Looks like
<img width="661" alt="screen shot 2015-11-25 at 3 52 05 pm" src="https://cloud.githubusercontent.com/assets/44096/11411370/b0f39848-938c-11e5-9b4c-836cdc8c55c3.png">

[2015-11-25 22:57] bhilburn commented on #158
I don't use the awesome icons, so I've actually never experienced this. That said, if I did use the awesome icons, I actually would want this behavior:

1. If in the home directory, instead of printing the directory, just show the home icon.
2. In all other directories, print the directory, **without** an icon.

@dritter - How hard would it be to implement the following:

1. If awesome fonts are i

[2015-11-25 23:15] dritter commented on #158
@rjorgenson Great icon! Must have overseen that one. :+1:

@bhilburn Frankly I don't like the idea of have special code for the different modes. That would clutter up the code quite a bit (too bad that we have to do that for different OS).
Disabling the not-home directory would be rather easy, as users could just set the according icon variable to an empty string.

So, my favorite behavior would b

[2015-11-25 23:22] bhilburn commented on #158
@dritter - I actually didn't think we would need conditionalized code for separate modes - I was thinking we could do it purely with icon settings, but now I realize that's not possible. I agree, that would be very ugly.

I like your suggestion, as long as we add #3:
1. if in the home directory (or deeper), print the home-icon and the path (even if it is just ~)
2. In all other directories print t

[2015-11-25 23:29] dritter commented on #158
@bhilburn I still don't understand why there is a need for that extra "disable all icons" variable:

1. This could be reached by setting the icon variables to an empty string. I.e. `POWERLEVEL9K_HOME_ICON=''`
2. We would need some ternary expressions here which could be avoided..

[2015-11-25 23:41] bhilburn commented on #158
@dritter - Using the awesome icon set gives you access to glyphs you don't otherwise have, but I don't think that necessarily means people will necessarily want to use all of them. For example, someone might want to use the awesome-mode font to replace the 'normal' git glyph with the Github glyph, but perhaps doesn't want additional icons inserted into other segments he/she is already using. This

[2015-11-26 07:17] Psykar opened #159 "Virtualenv prompt not showing"
https://github.com/bhilburn/powerlevel9k/blob/master/powerlevel9k.zsh-theme#L869

I believe the test above should be -z on VIRTUAL_ENV_DISABLE_PROMPT not -n?

[2015-11-26 08:26] dritter commented on #159
Yep, you are right. This is already fixed in the `next` branch. ;)

[2015-11-26 10:39] keirlawson commented on #158
If in the home directory, instead of printing the directory, just show the home icon.
    In all other directories, print the directory, without an icon.

FWIW this would also be my preferred behaviour, but appreciate as discussed this would be a pain to implement.

[2015-11-26 15:58] dritter commented on #158
@bhilburn IMHO it would be hard to tell which icons are printed and which are not.
Your example sounds like an idea of icons as "visual identifiers" (from the discussion in #157 ). If we distinguish between primary icons and others, that would be clear (but it would have other implications).

In my mind, we would either display the home icon _or_ the folder icon, but never both at once. So an "dis

[2015-11-26 22:18] Psykar commented on #159
So it is!
Meanwhile a workaround is to just set VIRTUAL_ENV_DISABLE_PROMPT to false (which will still work once ```next``` gets merged.

[2015-11-26 22:18] #159 closed

[2015-12-01 21:27] bhilburn commented on #158
Fixed by merge of #160.

[2015-12-01 21:27] #158 closed

[2015-12-09 10:32] depressiveRobot opened #163 "Can't change status icon color"
Unfortunately, it is not possible to change the color of the fail icon. I tried to set:

[code]

The background is now red. However, the fail icon is still red, too.

My current fix is to overwrite the `prompt_status()` method, as the color of the icon is hardcoded:

[code]
to
[code]

[2015-12-11 09:11] dritter commented on #163
Great catch!

IMHO this problem arises from the segment doing too much. It would be much clearer if the segment prints the status only, and not background jobs and the user as well. If we split that up in different segments we wouldn't need to set the colors inline.. @bhilburn what do you think?

[2015-12-13 00:13] bhilburn commented on #163
@dritter - That's a great idea. Yes, let's split them out into separate segments.

Once that change is in, I think we'll be at a good point to prep for the next release, too.

[2015-12-13 00:27] bhilburn commented on #146
Merged #154. Please test on `next` and open a new bug if you find issues.

[2015-12-13 00:27] #146 closed

[2015-12-13 00:28] bhilburn commented on #132
@martinpelikan - Any updates, here? If not, can we close?

[2015-12-13 00:29] bhilburn commented on #115
@dritter - Any more thoughts on this? It would be a great feature to get into a 0.3.0 release.

[2015-12-13 06:10] martinpelikan commented on #132
I haven't had much time to try and reproduce this, and haven't encountered it since opening this issue. Closing this until I have something more concrete to work with. (Also, non-blocking prompts look pretty interesting!)

[2015-12-13 06:10] #132 closed

[2015-12-15 08:47] dritter commented on #115
@bhilburn I think this takes some more time to mature. IMHO this is not ready for the next release. It is too complicated to write the conditions and I am not really content with my approach. I ported most segments to the new format, but I have some concerns about evaluating every piece of information.. Maybe this is a bit over-engineered, but I haven't come up with a better solution.
I need some

[2015-12-15 10:27] Tritlo opened #166 "Ability to join segments"
Since #164 splits the status segment into three segments, anyone who wants to use all three will have two (or more?) additional segment separators, which can take up precious space. Could we make it possible to join segments so that they display as one segment?

[2015-12-15 18:37] bhilburn commented on #166
I think @Tritlo has an excellent point, here.

Thoughts on how to make this possible in #164, @dritter?

[2015-12-15 18:38] bhilburn commented on #115
@dritter - Understood. Let's prioritize this for 0.4.0, then.

[2015-12-15 21:03] dritter commented on #166
Excellent idea! Shouldn't be too hard to do. :+1:

Only thing is: I would like to do this in a separate PR, to avoid a merge conflict with #165 (and this one should be merged first).

[2015-12-15 21:05] bhilburn commented on #166
@dritter - Don't forget you have push access to the project. Why don't you create a new branch on top of the HEAD of `next`, merge in #164, base your new branch on top of it, and then submit a PR to `next` from the second branch?

[2015-12-19 02:06] dritter commented on #166
Yeah. Anyway. I have an local integration branch and resolved the conflicts there. :)

[2015-12-20 13:19] dritter commented on #166
Okay. I pushed my integration branch as `integration_165_164`. Check it out! :)

[2015-12-21 23:34] bhilburn commented on #166
@dritter - Looks awesome! Can you submit a PR against `next` so that we have a logged record of the merge?

[2015-12-22 01:13] dritter commented on #166
Here we go. #167 it is.

[2015-12-28 17:48] kevinSuttle commented on #163
Sorry, what's the setting for this now?

[2015-12-28 18:29] kevinSuttle opened #168 "battery segment?"
Can this theme support a battery status segment?

[2015-12-28 18:42] kevinSuttle opened #169 "Setting for newline after result?"
Example:
<img width="1425" alt="screen shot 2015-12-28 at 1 43 22 pm" src="https://cloud.githubusercontent.com/assets/95672/12023597/04dfe3bc-ad69-11e5-96f2-ef626f701028.png">

I'd prefer to do this without messing with the function internals and injecting a `"\n"` into something.
Is there/could there be a setting for this?

Thanks.

[2015-12-29 00:30] dritter commented on #168
Yep. There is already one in the development branch called [`next`](https://github.com/bhilburn/powerlevel9k/tree/next#battery). ;)

[2015-12-29 00:30] #168 closed

[2015-12-29 00:42] dritter commented on #163
@kevinSuttle @depressiveRobot This is currently only in our development branch `next`. I had to split the `status` segment into three separate ones: `background_jobs`, `root_indicator` and `status`.
So, to get the status-fail-icon in a different color, you now need to configure the `status` segment at your desired position and use the regular colorizing mechanism: `POWERLEVEL9K_STATUS_ERROR_FOREGR

[2015-12-29 00:58] kevinSuttle commented on #168
Awesome!

[2015-12-29 00:59] kevinSuttle commented on #163
Ah, ok. That makes total sense. Thanks!

[2015-12-29 01:13] kevinSuttle commented on #163
Got it.
<img width="604" alt="screen shot 2015-12-28 at 8 12 46 pm" src="https://cloud.githubusercontent.com/assets/95672/12028083/69ba73c0-ad9f-11e5-9da5-0197f0b6fb4e.png">

[2015-12-29 01:13] dritter commented on #169
Well, in other words: you want a newline _before_ the prompt, right?

As I can see, you have no icon on the first line, so you could overwrite this icon with a newline by setting `POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX="\n "`. Please note the whitespace after the newline, which is mandatory.

[2015-12-29 01:17] kevinSuttle commented on #169
Nice, thanks @dritter!

[2015-12-29 01:18] kevinSuttle commented on #169
Actually, the space throws it off, but the newline is there.

<img width="564" alt="screen shot 2015-12-28 at 8 18 04 pm" src="https://cloud.githubusercontent.com/assets/95672/12028128/2b3f1f5a-ada0-11e5-9bd5-84796462f549.png">

[2015-12-29 01:21] dritter commented on #163
@kevinSuttle nice! :)

[2015-12-29 01:27] kevinSuttle commented on #168
Any idea what the last character is in the battery status?
I tried both Powerline and Awesome fonts, to no avail.

`POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(time battery)`

<img width="369" alt="screen shot 2015-12-28 at 8 26 55 pm" src="https://cloud.githubusercontent.com/assets/95672/12028203/72796302-ada1-11e5-84c8-f568cc6453cd.png">

[2015-12-29 01:32] kevinSuttle commented on #168
Oh. `\u1F50B` :battery:. Duh.

[2015-12-29 01:45] dritter commented on #169
Oops. Right. Well, there are four things we could do about it:

1. Add the escape sequence to "go left a character" after the whitespace. This should overwrite the whitespace. I am not sure if this escape sequence exists..
2. Instead of that custom multiline icon solution, we could add a custom segment that prints the newline first. This is a bad idea, as we would have some issues with an empty se

[2015-12-29 01:54] dritter commented on #169
@kevinSuttle Solution number 1 would be `POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX="\n\e[1D"

[2015-12-29 02:32] dritter commented on #169
Uhm. This is really strange. If I trace the code, the newline gets printed, but I cant see it:
[code]

Notice the `echo -n '\n'` in the middle.. It doesn't matter how I declare the variable (single quotes, double quotes, implicit newline).

[2015-12-29 02:49] kevinSuttle commented on #169
Wow. I had no idea movement escape sequences existed.

Yeah, I've noticed some weirdness as well.
Check this out: When you `echo [command] "\n"`,
it just returns the command, not the output.

<img width="166" alt="screen shot 2015-12-28 at 9 47 52 pm" src="https://cloud.githubusercontent.com/assets/95672/12028887/c64dafdc-adac-11e5-9a31-fc0186a9fba5.png">

[2015-12-29 02:49] #169 closed

[2015-12-29 03:00] kevinSuttle commented on #169
Lol, I'm just inventing problems to solve now. Feel free to ignore me.

[code]

![escape-left-pl9k](https://cloud.githubusercontent.com/assets/95672/12028970/66600b18-adae-11e5-9df5-f96634118293.gif)

[2015-12-29 03:06] kevinSuttle commented on #168
I like the default one for root: :zap: _(aka "high voltage sign")_

[2015-12-29 03:32] kevinSuttle opened #172 "Configure default segments?"
Is it possible to configure the content of the segments (sub-segments)?

For example, I'd like to be able to hide
- git stash numbers
- battery percentage

<img width="1415" alt="screen shot 2015-12-28 at 10 27 20 pm" src="https://cloud.githubusercontent.com/assets/95672/12029166/63aeb97e-adb2-11e5-8e80-85a1278bb66b.png">

[2015-12-29 11:30] dritter commented on #168
@kevinSuttle Then, just use it: `POWERLEVEL9K_BATTERY_ICON=$'\u26A1'`. :wink:
But this is an emoji. If you want to change the color of that icon, you should use `$'\uE801'` (in `awesome-patched` mode). If you use the `awesome-fontconfig` mode, then it is `$'\uF201'`

[2015-12-29 11:35] dritter commented on #169
Yep. `echo` takes that parameters as string to output. So if you do `echo ls` it would output `ls`. If you want to do it like that, you need to invoke a subshell: `echo $(ls)`. But that would be quite some overhead, if you just could invoke `ls` directly, as it prints on `STDOUT`.

[2015-12-29 11:41] dritter commented on #169
Your second problem comes from moving the cursor around. You need to move the cursor forward one character again:
[code]

[2015-12-29 13:36] dritter commented on #172
Well, the battery segment has an verbose mode indeed. But this just shows the icon (at least it should; see #173 ). There is no switch to hide the battery percentage.

Also, it is not possible to hide the stash number.. I am not sure if you really want that. If you don't care about your stashes, why not clearing them all?

[2016-01-01 20:17] EdenSG opened #175 "Right segment is offset significantly from right side of terminal"
This seems to occur when `PROMPT_ON_NEWLINE` is active and `MULTILINE_SECOND_PROMPT_PREFIX` contains color or background codes.

Here you see a few terminal sizes - you can see the right segment is a set distance from the edge.
![screen shot 2016-01-01 at 3 10 26 pm](https://cloud.githubusercontent.com/assets/5727389/12072027/46197062-b09a-11e5-9338-63e44ed454a2.png)
![screen shot 2016-01-01 at 3

[2016-01-02 21:20] bhilburn commented on #175
@EdenSG - Whoa, weird.

Can you post the setting for `MULTILINE_SECOND_PROMPT_PREFIX` that you are using?

[2016-01-02 21:23] bhilburn commented on #172
@kevinSuttle - The functionality showing the detailed git status (like stash number) comes from ZSH's `VCS_INFO` submodule. Unfortunately, there is no easy way to break out things like 'stash number' from other git status readouts - at least not without some significant parsing in our code.

Sorry, @kevinSuttle!

[2016-01-02 21:23] #172 closed

[2016-01-02 21:25] bhilburn commented on #163
Closing this as fixed!

Thanks for your awesome work on this, @dritter.

[2016-01-02 22:11] EdenSG commented on #175
`POWERLEVEL9K_MULTILINE_SECOND_PROMPT_PREFIX="$(tput setab 4) $(tput sgr0; tput setaf 4)\ue0b0\ue0b1\ue0b1\ue0b1$(tput sgr0) "`

[2016-01-03 01:42] kevinSuttle commented on #163
Woot!

[2016-01-03 01:42] kevinSuttle commented on #172
Ah, gotcha. Thanks anyway!

[2016-01-03 12:43] dritter commented on #175
This had the problem as well:
[code]
This didn't:
[code]
So, this would be the way to go. I couldn't figure out what `tput` does differently. My best guess is that the escape codes `tput` prints out are interpreted by zsh.
[code]

[2016-01-04 23:23] dritter commented on #169
The reason why the single newline does not work is a ZSH limitation in context with subshells (from the manpage):
[code]
Moving the cursor around as I suggested earlier isn't probably the best thing to do. For me it feels hacky to do so, but I think I found a simple solution that is much cleaner. Just add an carriage return to the newline: `POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX="\n\r"`. As th

[2016-01-05 03:11] kevinSuttle commented on #169
Nice! Thanks @dritter!

[2016-01-05 03:13] kevinSuttle commented on #169
I just learned about this in bash too, btw.
https://medium.com/@joewalnes/handy-bash-feature-process-substitution-8eb6dce68133#.bkc10k2o1

[2016-01-05 21:16] bhilburn commented on #166
Closing since #167 has been merged.

[2016-01-05 21:16] #166 closed

[2016-01-05 21:57] bhilburn commented on #135
Fixed by 8dfca40.

[2016-01-05 21:57] #135 closed

[2016-01-05 23:19] #163 closed

[2016-01-05 23:21] bhilburn opened #176 "Prepare for 0.3.0 Release"
Hey all -

Okay, I'd like to start the process of making a v0.3.0 release. We've got a lot of great new features, bugfixes, and docs, and I want to get them into our stable branch so our non-dev users can start benefiting from them!

@dritter - Can you double-check the CHANGELOG? I think it may have fallen behind a bit, but need you to confirm.

All - Let me know if you think there are any major o

[2016-01-06 03:52] thuandt commented on #176
:+1:
I'm waiting for new releases.
powerlevel9k is best zsh themes i known

[2016-01-06 17:48] bhilburn commented on #176
Adding my configuration to the wiki, now. Way easier to upload images, here, than use the Wiki, so, here we go:

![bhilburn-config](https://cloud.githubusercontent.com/assets/569571/12149820/af22eb06-b45a-11e5-99b3-8a383659fc5f.png)

[2016-01-06 18:39] dritter commented on #176
@bhilburn I think the changelog is good so far. As long as we don't add every single change into it. I originally wanted to document BC breaks, new segments and new major concepts.

If we want to document more, than we should mind the changes from #149, #150 and #174.

[2016-01-07 19:24] bhilburn commented on #176
I haven't heard anything, so I plan on making the release today!

[2016-01-07 20:26] bhilburn commented on #176
Argh! I found a bug while preparing the release!

@dritter - Check this out. We have an extra space when printing tag info in the VCS segment:

![spacing issue](https://cloud.githubusercontent.com/assets/569571/12181909/d4fc8550-b539-11e5-9dbb-1f186f28548a.png)

I know you made some changes to spacing between the last release and now. Any immediate thoughts?

[2016-01-07 21:20] dritter commented on #176
Good catch! I've made #178 for that.

[2016-01-07 21:29] bhilburn commented on #176
Thanks so much for the quick response, @dritter! Merged!

[2016-01-07 21:31] bhilburn commented on #176
Release tag v0.3.0 has been pushed! Thanks so much, everyone, for all of your contributions!

Enjoy, @thuandt! `=)`

[2016-01-07 21:31] #176 closed

[2016-01-09 06:42] truthbk opened #182 "Unadvertised OSX dependency with coreutils"
Just a quick heads up to let you know you have an unadvertised dependency with coreutils (_realpath_, _readlink_) on OSX (tested on 10.11).

**`brew install coreutils`** will fix it.

[2016-01-09 10:23] dritter commented on #182
Ha! You are right. It is already complicated enough to install the fonts etc. I think we want to reduce the dependencies, so I try to get rid of realpath and readlink..

Thx for the report. :+1:

[2016-01-11 18:48] JimmyAx opened #184 "Regression: POWERLEVEL9K_DIR_FOREGROUND is not working anymore"
As title says. I've set `POWERLEVEL9K_DIR_FOREGROUND=white` in my config, yet the color is still black. This used to work fine, but the commit cd5b4d0debac05a74131f06efa918172586865ec broke it. Found it using a `git bisect`. It seems to work again if I change `$0_HOME` back to `$0`.

[2016-01-11 19:07] bhilburn commented on #184
Paging @dritter.

We have a few other items on `next`, too. Once this gets fixed, I'll make a v0.3.1 patch release.

[2016-01-11 21:39] dritter commented on #184
This is not a bug - it's a feature. :smile: I always wanted to say that.

This is due to a change to the `dir` segment. It now distinguishes between being inside the home folder and outside of it. These states have effect on the customization variables for this segment. You have to set the variables like `POWERLEVEL9K_DIR_HOME_FOREGROUND="white"` and `POWERLEVEL9K_DIR_DEFAULT_BACKGROUND="green"`.

[2016-01-11 21:42] outcoldman commented on #184
:+1:

[2016-01-11 23:37] bhilburn commented on #184
@dritter - Perfect! Thank you!

[2016-01-11 23:37] #184 closed

[2016-01-12 09:04] dritter opened #185 "Commits that should be on 0.3.1"
Hey Ben!

These commits should be cherry-picked to master for the upcoming 0.3.1 release:
63c2bc6541a51058b8ce728c3f4d0ef30632aa07 - Changelog entries
f2b48d4f323f58f522355cd67777f3bc16ee826e - Removed next tag
1ec2919ff5aa366695ace6ed00646c452b9b83b3 - Explanation for Home and Folder icons
c8ce2264982018a9f576d416c997424b5c330c71 - Explanation improvement
31c78b5e47eb2f2343171635b384bb7f93d4c90e

[2016-01-12 14:08] depressiveRobot opened #186 "joined status segment breaks transition to previous segment"
I switched to the new joined segments feature consisting of `background_jobs`, `root_indicator` and `status` segment introduced in #164.

However, using this feature breaks the transition to the previous segment:
[code]
![screen shot 2016-01-12 at 14 59 27](https://cloud.githubusercontent.com/assets/6043497/12265554/f6bb67a8-b93d-11e5-8c98-a16697e3586a.png)

Adding the joined segment to the front

[2016-01-12 17:24] thuandt opened #187 "RUBY_ICON in awesome-fontconfig mode"
`RUBY_ICON` should be diamond icon `$'\UF219'` instead `$'\UF247'`

![Diamond icon](http://i.imgur.com/wWVn1Dz.png)

[2016-01-12 17:36] dritter commented on #187
@thuandt Great catch! Could you submit a PR for that?

[2016-01-12 17:52] dritter commented on #186
Joining two conditional segments together isn't supported yet.

To be more technical:
If you look into the source, we have four major places which get passed by every segment: `left_prompt_segment` and `build_left_prompt` (the other two are the right ones). So these functions are potentially candidates for checking if a segment should be a joined one or not.

##### `left_prompt_segment`:
We print

[2016-01-13 18:29] DanielGGordon commented on #125
I'm considering opening this issue up, but really, it's a font/mintty issue I think. I got it working quite a bit better, where almost all the symbols work. But it seems no matter what patched font I use, there are always a few that are missed. Right now I only see 1x icon missing (it shows up as a plain "?"), see below.

![image](https://cloud.githubusercontent.com/assets/11824880/12303692/581fb8

[2016-01-13 18:39] dritter commented on #125
@DanielGGordon I think this is not a missing icon. I think it is the `VCS_UNTRACKED_ICON`. In the default (a.k.a. "powerline") mode this is a plain question mark.. See the [documentation](https://github.com/bhilburn/powerlevel9k#vcs).

Sorry for the confusion.

[2016-01-13 18:42] DanielGGordon commented on #125
@dritter Do you have the list of character codes so I can verify they all work? And right now I'm testing this on Babun, which is really just Cygwin/Mintty.

[2016-01-13 18:45] dritter commented on #125
@DanielGGordon You could check that by overriding the icon:
`POWERLEVEL9K_VCS_UNTRACKED_ICON='test' print_icon 'VCS_UNTRACKED_ICON'`
If you see `test`, it worked. ;)

You can get a full list of all icons by calling `get_icon_names` (which already gives you full variable names for overriding).

[2016-01-13 18:54] DanielGGordon commented on #125
Looks like some are missing. That VCS_BOOKMARK_ICON looks a bit odd too. Node icon is also just a box.

![image](https://cloud.githubusercontent.com/assets/11824880/12304349/b0669d88-b9f4-11e5-94a5-b54ba2982570.png)

[2016-01-13 19:02] rjorgenson commented on #125
It looks like your POWERLEVEL9K_MODE is falling back to the standard powerline patched font mode(no awesome fonts) and everything looks appropriate for that with the exception of the NODE_ICON(maybe we need to find a more portable icon for Node, or just ditch the icon in powerline only mode all together). A lot of icon's just don't exist in that mode. You can see all the modes and their icons here

[2016-01-13 19:05] dritter commented on #125
I think the only missing icon is the `NODE_ICON`.. This is the typical "no icon found in your font"-rectangle.

The other "icons" are in that mode basically strings (like the `NETWORK_ICON` is just `IP`). This is due to the "powerline" mode requires a powerline font which is a regular font with that triangles (powerline symbols). So there are no more fancy icons..
If you want more icons, you need

[2016-01-13 19:19] DanielGGordon commented on #125
Sorry what do you mean by my POWERLEVEL9K_MODE setting? I think you mean regular or 'awesome'.

Awesome fonts cant even be loaded at all by Mintty, so I am using the regular mode in Inconsolata for Powerline.

Also, the "+" symbol looks like it is cut off a bit

![image](https://cloud.githubusercontent.com/assets/11824880/12305030/51f592b4-b9f8-11e5-9e87-10000ee50d8f.png)

[2016-01-13 19:55] DanielGGordon commented on #125
I think they aren't monospaced or something, so they don't show up as an option for font selection. Other patched fonts work, but not the awesome ones. In theory, I could go through the font, and make everything monospaced - but I'm not even sure how that would turn out.

It seems though that the regular icons are working pretty well.

[2016-01-13 19:58] dritter commented on #125
Ah. Okay. I think it won't be a good idea to force awesome fonts into monospacing, as it has a lot of double-width glyphs..

[2016-01-13 20:28] DanielGGordon commented on #125
Yea I think then the only way would be to have Mintty support non-monospaced fonts, and that's probably not going to happen.

[2016-01-13 21:32] DanielGGordon commented on #125
It seems like the best font (for any powerline) is the [DejaVu Sans Mono for Powerline](https://github.com/powerline/fonts/tree/master/DejaVuSansMono). It even shows the gear icon and lightning bolt that I haven't been able to get before.

That node icon doesn't show up, but I'm ok with that. But how would I fix that? Do I need to do something to the font itself?

![image](https://cloud.githubuser

[2016-01-14 16:10] bh opened #190 "Feature to disable showing git tags in prompt"
The both HEADs of `master` and tag `stage-2016-01-14-16-01-13` are the same.

My shell looks like this when I am on the `master` branch:
`(mx)  ~/devel/mx/src ->  stage-2016-01-14-16-01-13 ->`

My workaround to forcing showing "master" is to overwrite the function `vi-git-tagname`
[code]
` (mx)  ~/devel/mx/src -> stage-2016-01-14-16-01-13 -> function +vi-git-tagname() {}`
` (mx)  ~/devel/mx/src ->

[2016-01-14 21:05] bhilburn commented on #187
Closed by merge of #188.

[2016-01-14 21:05] #187 closed

[2016-01-14 21:14] bhilburn commented on #182
Closed by merge of #183

[2016-01-14 21:14] #182 closed

[2016-01-14 21:16] bhilburn commented on #185
@dritter - I'm just going to prep v0.3.1 on `next`. I realize there are a few other changes, but they look fairly low risk.

I believe I have all of the above commits merged into `next`. Let's get #189 and #191 in, and then push out the patch release. How does that sound?

[2016-01-14 21:19] bhilburn commented on #190
@bh - Just to make sure I understand, you are saying that if you are on the master branch, but the HEAD is also a tag, you want to display the branch name rather than the tag name. Is that correct?

[2016-01-14 21:21] bhilburn commented on #186
@dritter - We should find a way to document this for users. I imagine that @depressiveRobot isn't the only person to run into it, and most people would probably just assume that the theme is broken.

[2016-01-14 21:23] bhilburn commented on #175
So it doesn't seem like a fix is needed in Powerline  for this. @dritter @EdenSG - thoughts?

[2016-01-14 21:45] EdenSG commented on #175
@dritter Sorry, I don't understand what `%k{blue}` does - for me it just literally prints `%K{blue}`. Is there something I'm missing?

[2016-01-14 23:26] dritter commented on #185
Sounds great! :+1:

[2016-01-14 23:39] dritter commented on #175
@EdenSG `%K` and `%F` are color instructions for ZSH. `%K` tells ZSH to start a new background color, `%F`to start a new foreground color. Lowercase `%k` and `%f` end these instructions.

So, as this theme populates the `PROMPT` variable, we could embed such color instructions to tweak the appearance. `POWERLEVEL9K_MULTILINE_SECOND_PROMPT_PREFIX` gets read into `PROMPT`, so you don't need to invok

[2016-01-14 23:48] dritter commented on #186
I tried to document that case in the [wiki](https://github.com/bhilburn/powerlevel9k/wiki/Stylizing-Your-Prompt/_compare/fd374ced109ab2abf7e48a7c71737309a7bac4b6...8e36fde97bd3d3f47e930b3df9fefdde12a193be). The readme is IMHO not the right place, as this is an advanced feature that is only documented in the wiki.

[2016-01-14 23:59] dritter commented on #190
Are you sure that this is not a different remote tracking branch? If you have a local branch (e.g. `master`) that tracks a differently named remote branch (e.g. `stage-2016-01-14-16-01-13`) you would get an output like this.
Could you try to overwrite the `+vi-git-remotebranch()` function instead?

But to answer your question: I'll try to make the `VCS` segment more configurable in the 0.4.0 versi

[2016-01-15 01:21] EdenSG commented on #175
Thanks for your explanation — yes, that seems to work fine, I was omitting the `-P` flag when I tried to print that.

I don't think the issue is resolved (although probably low priority), just that there's a workaround.

[2016-01-15 08:33] bh commented on #190
@dritter:
It's a git tag:
[code]
@bhilburn: correct

[2016-01-16 02:56] bhilburn commented on #185
@dritter - Okay, all PRs are in, thanks to great dev from @Kayant and @rjorgenson.

Let's test drive the HEAD of `next` for a few days and make sure everything looks good. Once we are reasonably sure it looks stable, I'll push the tag.

[2016-01-16 04:55] rjorgenson commented on #185
Found an issue with prompt_load, submitted PR #193

[2016-01-16 17:22] bhilburn commented on #185
Okay, #193 merged! Continue testing...

[2016-01-16 17:37] bhilburn commented on #185
Resizing @kayant's image to try and get it to render larger on the Github wiki:

![kayants-config](https://cloud.githubusercontent.com/assets/569571/12373633/b73e0de8-bc34-11e5-80af-38d512280601.png)

[2016-01-16 17:39] bhilburn commented on #185
Also, has anyone seen anything recently to add to this?

https://github.com/bhilburn/powerlevel9k/wiki/Sightings-In-the-Wild

[2016-01-16 17:46] rjorgenson opened #194 "RVM segment icon spacing"
I noticed that the spacing on the icon for the RVM segment seems off, see screenshot. It's possible this is just due to the font I'm using(SourceCodePro+Powerline+Awesome Regular), anyone else having this issue with their fonts?

<img width="715" alt="screen shot 2016-01-16 at 10 42 43 am" src="https://cloud.githubusercontent.com/assets/44096/12373673/1a5aeaaa-bc3e-11e5-818c-a118d54b9b36.png">

[2016-01-16 18:07] rjorgenson commented on #185
@bhilburn http://youtu.be/_GozEp88OA0

[2016-01-16 18:37] bhilburn commented on #185
@rjorgenson - Whoa! This is awesome!!

[2016-01-16 18:41] rjorgenson commented on #185
@bhilburn yeah, he has an older video too which was the one I remembered and was looking for - https://www.youtube.com/watch?v=TIkJ5fDz2-g - but this new one is way cooler!

[2016-01-16 20:36] dritter commented on #185
@bhilburn @rjorgenson Yes, it seems that world of gnome is a fan of powerlevel9k :)
I already put the link to their google+ post where this video is on in the wiki a couple of days ago.

[2016-01-16 23:53] dritter commented on #194
Yep, it is pretty close. I'm using SourceCodePro with Awesome as well.
![](https://cloud.githubusercontent.com/assets/1544760/12375135/a17f004a-bcb4-11e5-8273-4e6ba4381955.png)

[2016-01-16 23:55] dritter commented on #194
Btw. you have a nice prompt. What must happen, before you put your config in the [wiki](https://github.com/bhilburn/powerlevel9k/wiki/Show-Off-Your-Config)? :smile:

[2016-01-17 00:46] rjorgenson commented on #194
thanks, I was planning on posting it up once I wasn't using features that aren't in master, soon!

[2016-01-17 00:53] bhilburn commented on #194
Glad you caught this, @rjorgenson! Also happy the fix is easy, hah `=)`

I'll merge the PR as soon as I see it!

[2016-01-17 01:06] rjorgenson commented on #194
Added PR #196

[2016-01-17 01:10] bhilburn commented on #194
@rjorgenson - Awesome! Merged!

Resolved by #196.

[2016-01-17 01:10] #194 closed

[2016-01-17 01:45] rjorgenson commented on #194
Added my config to the wiki, I didn't realize how incredibly long it was now! But I think it demonstrates the customizability of powerlevel9k pretty well =] It also showcases some of the more advanced features.

[2016-01-17 04:05] bhilburn commented on #185
Just pushed a big update to the README, as well!

I'll plan on tagging v0.3.1 in a few days as long as we don't find anymore bugs!

[2016-01-17 10:35] dritter commented on #194
Nice config! :+1:
The icon you use for the time segment could be a nice default visual identifier.

[2016-01-17 10:45] dritter commented on #185
I like the new readme. Much better to read! :)

[2016-01-17 15:31] dritter commented on #185
#197 Should be in 0.3.1 as well.

[2016-01-17 17:03] dritter opened #199 "Tl;dr section in the README"
I think we could need a Tl;dr section in the README which points to the [Show Off Your Config](https://github.com/bhilburn/powerlevel9k/wiki/Show-Off-Your-Config) site. The examples in there might me quite helpful for busy people..

[2016-01-17 18:05] bhilburn commented on #199
Pushed to `next`!

[2016-01-17 18:05] #199 closed

[2016-01-17 18:05] bhilburn commented on #185
#197 has been merged. Thanks, @dritter!

[2016-01-17 18:05] bhilburn commented on #190
I think the solution @dritter is proposing in #198 is a good one. Let's work on this for v0.4.0.

[2016-01-20 01:39] DanielGGordon commented on #95
I tried a few nerd fonts (using Babun with Zsh on Windows via Mintty), but none of them worked properly. Getting these fonts to work with Windows is a big pain.

[2016-01-20 02:48] DanielGGordon commented on #97
I would also like to add the Windows users tend to get left in the dust. There is only a tiny set of fonts that seem to work on Mintty - which is used by Cygwin and Babun. And as far as I know, Cygwin/Babun is the only way you can get Zsh on Windows.

The font I am currently using is DejaVu Sans Mono for Powerline. It works for default just fine. But I haven't gotten any of the awesome or nerd fon

[2016-01-20 14:28] ryanoasis commented on #95
@DanielGGordon Yeah I have not had a lot of time recently and I never really tested the fonts on Windows fully. Nevertheless your feedback is helpful for me to focus on the pain points :+1:

[2016-01-20 14:30] ryanoasis commented on #97
I am still alive :stuck_out_tongue_winking_eye: but busy recently. Seems like getting the fonts working better (or just plain working at all) in Windows would be a priority. Thanks

[2016-01-20 14:35] Kayant commented on #175
Just wanted to add to this on a similar note with the right prompt. In my case with the right prompt  and new line enabled the below happens which resizing the terminal.
![promptttttt](https://cloud.githubusercontent.com/assets/1627291/12451415/2f3ecae0-bf81-11e5-8cad-4d9df845dbae.png)

With the right prompt disabled it renders fine, with the newline disabled and the right prompted enabled it stil

[2016-01-20 15:59] rjorgenson commented on #175
@Kayant This happens to me too with right prompt and newline, I just got into the habit of clearing whenever I resize the window.

[2016-01-20 16:17] EdenSG commented on #175
@Kayant Can confirm that.
![screen shot 2016-01-20 at 11 07 48 am](https://cloud.githubusercontent.com/assets/5727389/12454903/6c19c650-bf67-11e5-8ef7-bf4a1d52f502.png)

[2016-01-20 16:55] dritter commented on #175
@EdenSG @Kayant Yep, this is an issue of ZSH or your Terminal Emulator, not of powerlevel9k.. If you resize your window, the terminal emulator has to recalculate the number of columns over and over again, until your resizing is done. This is the reason why your terminal looks cluttered. If your resizing is done, the repaint is made one last time, so your last line ist correct..

[2016-01-20 17:42] Kayant commented on #175
@dritter

Ah thanks for the info. Time to hunt the source!

[2016-01-20 17:45] EdenSG commented on #175
@Kayant @dritter Thanks! The hunt is on...

[2016-01-21 02:55] bhilburn commented on #185
I would really like to get the #200 enhancement in before the release, but it looks like it needs a small change, first.

Thoughts, @dritter @V1rgul? Otherwise, things are looking stable.

[2016-01-22 01:06] V1rgul commented on #185
#200 Updated :)

[2016-01-23 00:15] bhilburn commented on #185
@V1rgul - Fantastic!!

v0.3.1 has been released! Fantastic work, everyone!

[2016-01-23 00:16] #185 closed

[2016-02-04 16:21] DanielGGordon commented on #137
Evidence of one of Github's biggest drawbacks - little ability to communicate about a project outside of an issue or pull request. I don't know why they don't have a 'chat' section.

I suggest a [Gitter chat room](https://gitter.im) for this project.

[2016-02-04 16:27] DanielGGordon commented on #24
@dritter
Bash?

[2016-02-04 16:38] DanielGGordon commented on #95
[Meslo LG M for Powerline](https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Meslo/M/complete/Meslo%20LG%20M%20Regular%20for%20Powerline%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.otf) actually seems to work fine for me - this is a nerd font.

Although all the icons are a bit small.

[2016-02-05 11:06] theodelrieu opened #206 "Invalid date message when battery is at 100%"
Hello! It seems there is a bug when using the 'time' segment when the battery is fully charged.
I keep getting the message:

`date: invalid date 'until'`

I'm following the branch 'next'.

[2016-02-05 11:56] dritter commented on #206
Thx for the report.
Do you use Mac or Linux?

[2016-02-05 15:28] bhilburn commented on #175
Hi @Kayant, @EdenSG -

I would like to close this issue. I tested a number of other themes, and saw the same problem. As @dritter said, it's an issue with the emulator redraw, not the theme itself.

If you find anything that leads you to believe we could fix the problem within the theme, though, please re-open this issue and let us know! It would be great to have a work-around =)

[2016-02-05 15:28] #175 closed

[2016-02-05 15:33] bhilburn commented on #186
#202 has been merged. Please test & validate on `next` branch!

[2016-02-05 15:33] #186 closed

[2016-02-05 15:46] bhilburn commented on #137
Done!

https://gitter.im/bhilburn/powerlevel9k?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2016-02-05 20:50] theodelrieu commented on #206
Sorry I forgot to mention that, I run a Debian 8.2 amd64

[2016-02-07 19:09] dritter commented on #206
Could you paste the output of `acpi` here?
Internally we do an `acpi | awk '{ print $5 }'` to get the remaining time of your battery and format that with `date`. It looks like under Debian the output of acpi is different..

//cc @rjorgenson

[2016-02-08 09:53] theodelrieu commented on #206
That's it, here's the ouptu when charging : `00:03:02`
When fully charged, it just prints : `until`

[2016-02-08 14:54] Falkor opened #209 "Possibility to change the vcs background color upon untracked files"
Hi,

as a former user of the seminal `agnoster` theme, I became addicted to have the prompt change to orange as soon as the current git directory is in a dirty state (including if it comprizes an untracked files).

With powerlevel9k, I "simply" have an icon `POWERLEVEL9K_VCS_UNTRACKED_ICON` which is displayed while I would have appreciate to have in addition a change in the background color.

Is t

[2016-02-08 15:25] rjorgenson commented on #209
Hi Falkor,

I believe the functionality you are looking for was just added in pr #204 - is this the behavior you were after?

[2016-02-08 15:26] Falkor opened #210 "Use zsh 'parse_git_dirty' function to detect dirty repo"
I just also noticed a bug in the dirty dectection of git repositories.

If you are at the root of the repository, untracked files are reported (using`POWERLEVEL9K_VCS_UNTRACKED_ICON`), yet if you are in a sub-directory, somehow the detection fail since the icon is no longer displayed.

Actually, a reliable way to detect any dirty state is to rely on the `parse_git_dirty()` function that comes with

[2016-02-08 15:27] rjorgenson commented on #206
Interesting, I don't have a debian box to test on, but we could add a sanity check for the date string before passing it to date.

[2016-02-08 15:28] Falkor commented on #209
Arg, my fault, indeed that's precisely what I was looking for.
Sorry for the noise.

[2016-02-08 15:28] #209 closed

[2016-02-08 16:20] Falkor commented on #210
See pull request #211

[2016-02-08 22:49] dritter commented on #190
@bh Could you double-check that my fix is working on `next`? That would be awesome. :)

[2016-02-09 18:18] bhilburn commented on #210
@Falkor - Unfortunately, we can't use OMZ-specific functions, as `powerlevel9k` is used by many users outside of that framework. You obviously didn't use it in this PR, but I just wanted to provide some insight `=)`

This is a great bug fix & improvement. Thanks so much for the great contribution!

#211 merged!

[2016-02-09 18:18] #210 closed

[2016-02-10 10:14] bartlibert opened #213 "VCS_MODIFIED_FOREGROUND not applied to text"
I have put the following configuration in my zshrc:

POWERLEVEL9K_VCS_MODIFIED_FOREGROUND='red'

It seems the red color is only applied to the icon of the segment, but not to the part after it.
A picture might make this clearer:
![selection_008](https://cloud.githubusercontent.com/assets/948770/12944453/6f6772f4-cfe7-11e5-8a65-44bc64a2436c.png)

I would expect the entire foreground to be modified.

[2016-02-10 20:27] dritter commented on #213
Good catch! I'll have a look on that.

[2016-02-11 08:29] bh commented on #190
Yeah, works fine!

[code]

[2016-02-11 08:33] #190 closed

[2016-02-12 16:11] MatthewMDavis opened #215 "rbenv issues"
First, a documentation issue: the [link to rbenv information on the repo main page](https://github.com/bhilburn/powerlevel9k#rbenv) doesn't go anywhere.

Second, I'm trying to understand why the rbenv segment works the way it does. The segment tests for the RBENV_VERSION environment variable, which only returns true if one has set a *shell-specific* rbenv version -- one that trumps the global and

[2016-02-12 19:42] dritter commented on #215
Ideally no. But maybe you want to improve the segment and share it with us all? :wink:

I am not a ruby guy, so I cannot help explain what is happening (or understand you correctly with all that shell-specific rbenv-versions). But maybe @natemccurdy can help?

[2016-02-12 19:57] natemccurdy commented on #215
@MatthewMDavis Hi, I'm the one who wrote the original rbenv segment, so maybe I can help.
Firstly, I wrote the segment for my use-case (which I think is pretty standard based on what I've seen online), so if you use rbenv differently from me, you may likely not be seeing the info you want.

**My Usage**
I use rbenv on my Mac when I want to test writing Ruby code in different versions than my syste

[2016-02-12 20:00] natemccurdy commented on #215
Ahh.... To answer my own question, "yes, there are many ways to set the `rbenv` version".

The `rbenv` segment should likely be improved to account for all of those use cases.

[2016-02-12 20:26] MatthewMDavis commented on #215
Yes. rbenv lets you do the following:

global: you can run system ruby, or any of the rubies you've installed with
ruby-build, as the program that runs when you type "ruby" from anywhere on
the system ("rbenv global"). This is stored in a .ruby-version file in the
RBENV_ROOT.

local: you can run system ruby, or any of the rubies you've installed with
ruby-build, to run within a directory -- making

[2016-02-12 20:36] dritter commented on #215
Nothing easier than that:

1. fork the project (button on the top right)
2. clone it to your local machine
3. make your changes, push it
4. on the project page there should appear a new button "compare"

Github has excellent guides for [creating](https://help.github.com/articles/creating-a-pull-request/) and [using](https://help.github.com/articles/using-pull-requests/) a pull request.

[2016-02-12 21:06] dritter commented on #206
@rjorgenson Could you submit a PR for that? That would be awesome. :)

[2016-02-12 21:11] dritter commented on #215
@MatthewMDavis I forgot to mention, that we develop on the branch `next`. ;)

[2016-02-12 21:14] rjorgenson commented on #206
Hmm, I just looked at this and the bit of code that handles this already has a check to make sure it's only digits ...

[code]

It shouldn't actually be trying to pass the 'until' string to the date command. @theodelrieu: could you post the complete output of the acpi command when your battery is charged? Could you also make sure you are on the latest version with the above code block, I know ther

[2016-02-12 21:37] MatthewMDavis commented on #215
I had already forked/cloned/patched/pushed the change on master before I
found the note to make a pull request to next. If I need to repeat, let me
know.

Now the rbenv segment picks up the user's current ruby version regardless
of where/how it's set.

On Fri, Feb 12, 2016 at 1:11 PM, Dominik Ritter <notifications@github.com>
wrote:

[2016-02-12 21:50] natemccurdy commented on #215
@dritter Just for clarity, here's @MatthewMDavis 's patch: https://github.com/MatthewMDavis/powerlevel9k/commit/96a8408a0c27ed6dc10dfa8829a549419ab5d4ec

It's a fairly simple patch, and gets the job done; however, I think there could be some improvements:

* Shelling out to `rbenv version-name` adds some overhead each time the prompt is redrawn. Not sure what to do about that.
* I personally, woul

[2016-02-15 10:03] theodelrieu commented on #206
Here is the full output, this time the message is different, I will post another if I get my battery to 100%

Battery 0: Unknown, 99%
Battery 1: Charging, 99%, charging at zero rate - will never fully charge.
date: invalid date ‘\ncharging’

I pulled the last revision of the repo, the check you mentioned is in the sources

[2016-02-15 16:04] rjorgenson commented on #206
Well that's an edge case I was not expecting to see .. Your system is seeing that it has two batteries connected. Do you have a directory in /sys/class/power_supply for both BAT0 and BAT1? Do you in face have two batteries on that machine?

[2016-02-15 16:35] theodelrieu commented on #206
I indeed have two batteries, sorry I didn't mention this earlier, I thought it was just a parsing problem.
I was about to open another issue for the double battery support, since the displayed remaining time is incorrect.

This might be the occasion to solve two problems at once :)

[2016-02-15 21:56] rjorgenson commented on #206
Hmmm, I'm not sure how that could be done in your case. It doesn't appear
to give any information about the second battery. Do the files in
/sys/class/power_supply/BAT0 contain any information. It's strange that
acpi doesn't know anything about it.

--
Robert Jorgenson

On Mon, Feb 15, 2016 at 9:35 AM, Théo DELRIEU <notifications@github.com>
wrote:

[2016-02-16 08:57] theodelrieu commented on #206
Well it seems that the charging state is unknown sometimes, here is the output of acpi right now:

Battery 0: Full, 100%
Battery 1: Full, 100%

[2016-02-18 01:38] bhilburn opened #217 "VCS dirty color collision on `next`"
We recently added a third color to the VCS prompt, red, to indicate tracked dirty status.

Unfortunately, in doing so, we created an issue, because our default VCS action format text is also red. I created a test scenario to show the problem:

![oops](https://cloud.githubusercontent.com/assets/569571/13130840/05dec8a4-d59c-11e5-8951-440c5dcd9961.png)

The obvious fix is to simply change the defaul

[2016-02-19 12:08] theodelrieu commented on #206
And here is the output when one battery is fully charged :

Battery 0: Charging, 100%,  until charged
Battery 1: Unknown, 79%
date: invalid date ‘until’

[2016-02-20 10:42] dritter commented on #217
Almost all other themes I've seen don't make this decision on a background color level. Most of them use icons for that. But somewhere I've seen that behavior (yellow for `dirty`, red for `untracked`). I just can't find where it was..
So that might be an option to use yellow for both states. In this case we are on a line with other themes and provide an opportunity to change that.

But from a desi

[2016-02-20 18:12] bhilburn commented on #217
@dritter - I actually like that idea. Keep the color green for untracked files, but indicate with an icon, and then only change the color if the repo is actually dirty.

I'll mull this over a bit more, but I really like that suggestion. So, just to lay it out, this would be what it looks like:

|State|Background|Foreground|Action Format|
|------|------------|--------------|------------|
|Clean|Gre

[2016-02-21 04:33] natemccurdy commented on #215
@MatthewMDavis A fix for this issue has been merged into the next branch as of PR #216 .

Feel free to check out the latest version of the next branch and give it a try.``

[2016-02-21 11:41] dritter commented on #217
Green for both states is an option for us too. :smile:
Sounds like good solution. :+1:

[2016-02-21 14:13] MatthewMDavis commented on #215
Nice. After trying out a few powerline approaches for my tmux/zsh/vim
stack, powerline9K is definitely the go-to solution for the zsh bit.

Incidentally, Nate, I share your concern about piling on overhead to redraw
the prompt: my patch cobbled together a couple of different rbenv status
components (found within oh-my-zsh themes). The method I picked for getting
the rbenv name is actually the chea

[2016-02-24 14:29] gaerfield opened #218 ""Script location could not be found!" on Windows with prezto"
powerlevel9k.zsh-theme exits with "Script location could not be found!" when sourced as a symlink
It seems, that "if [[ -L symlink]];" fails in cygwin (i.e. [stackoverflow - readlink in cygwin](http://stackoverflow.com/questions/12645662/readlink-in-cygwin)).

[2016-02-25 21:48] dritter commented on #218
Thanks for the report!
Just to be clear: This is not really urgent, as it works if you don't use symlinks, right?

On second thought: This is more a cygwin problem, than of powerlevel9k. Sure, we could check for windows (cygwin) and use `cygpath` if so, but this would be quite hacky..

[2016-02-26 10:09] gaerfield commented on #218
Correct, this is not urgent. Maybe its rather a bug in cygwin. But this way it's reported and the next guy stumbling on this knows what to do.

[2016-02-26 10:09] gaerfield commented on #218
Correct, this is not urgent. Maybe its rather a bug in cygwin. But this way it's reported and the next guy stumbling on this knows what to do.

[2016-02-26 10:13] megawebspace commented on #218
Same problem occurs on OS X, too.

[2016-02-26 11:28] dritter commented on #218
@megawebspace Could you provide some more information on which circumstances it doesn't work on OSX?

[2016-02-26 13:01] bhilburn commented on #213
Fixed in `next` by merge of #214.

[2016-02-26 13:01] #213 closed

[2016-02-26 13:32] megawebspace commented on #218
I have a clean El Capitan, installed Prezto and installed powerlevel9k in a version 3.x.
On _prompt powerlevel9k_ the reported problem_ "Script location could not be found!"_ occurs. Only when in _~/.zprezto/modules/prompt/functions/_ _prompt powerlevel9k_ works and provides me with the theme.

[2016-02-26 14:51] dritter commented on #218
@megawebspace Yeah. We had some trouble on prezto loading the theme-functions..
But it should work out of the box, if you have at least ZSH 5.0.8.. What does `zsh --version` gives you?

If the ZSH version is below 5.0.8, and we find a `~/.zprezto/modules/prompt/init.zsh`, we assume that powerlevel9k is linked there. If it is linked there (like `~/.zprezto/modules/prompt/functions/prompt_powerlevel

[2016-02-26 17:59] megawebspace commented on #218
zsh is version 5.0.8.
Will upgrading my zsh version help?

[2016-02-26 19:23] dritter commented on #218
@megawebspace No. I think this would not help. But I need to understand your configuration better, to improve the theme.

As far as I know, to install the theme in prezto, you have to link the theme to a file called `prompt_something_setup` in `~/.zprezto/modules/prompt/functions/`, where `something` is usually `powerlevel9k`. What is the name of the link on your machine?

If your link is called `

[2016-02-27 11:32] Erowlin opened #222 "Double line rendered"
On a clean installation with Oh My Zsh (Clean installation too, no modification yet on the .zshrc file), there are two lines rendered :

<img width="1276" alt="screenshot 2016-02-27 12 29 42" src="https://cloud.githubusercontent.com/assets/1775878/13372667/ed7b7514-dd4d-11e5-9a8a-b7a8b1f07e1f.png">

I installed the Meslo Powerline font from here : https://github.com/powerline/fonts and it's config

[2016-02-27 11:38] Erowlin commented on #222
I'm closing it, I've found the problem :

<img width="885" alt="screenshot 2016-02-27 12 37 04" src="https://cloud.githubusercontent.com/assets/1775878/13372685/f8a0ef90-dd4e-11e5-9321-92f007dedf76.png">

In Iterm, the option "Double-Witdh Characters" was enabled, it has to be disabled.

[2016-02-27 11:38] #222 closed

[2016-02-27 21:07] bhilburn commented on #222
@Erowlin - Thanks so much for posting the solution to this!

I have copied your solution to our Troubleshooting guide =)

https://github.com/bhilburn/powerlevel9k/wiki/Troubleshooting

[2016-02-28 18:57] Erowlin commented on #222
Awesome :).

[2016-02-29 07:51] megawebspace commented on #218
yes, it's actually called `prompt_something_setup` and `whence -w prompt_powerlevel9k_setup`
outputs `prompt_powerlevel9k_setup: function`

[2016-03-03 11:08] smallhadroncollider opened #224 "Git status: cherry-or-revert"
Every now and again one of my git repos will show "cherry-or-revert" instead of showing the status. It also doesn't show the commit number like it normally does.

I've tried doing a `git reset --hard` but that doesn't seem to work. The only way to sort it seems to be recloning the repository - but that seems a bit extreme.

Any ideas how to sort it?

![screenshot 2016-03-03 11 06 11](https://cloud

[2016-03-03 21:39] dritter commented on #224
Yes, the commit hash is not displayed if we trigger `VCS_INFO`'s action formats. This is one thing.

The other thing is how this action formats are triggered. This is not under our control..  It seems to happen, if there exists a `.git/sequencer` folder in your repository ([source](https://github.com/zsh-users/zsh/blob/f7d5ff31ce8d354dd69de619e703b9c0e49f0977/Functions/VCS_Info/Backends/VCS_INFO_g

[2016-03-03 22:00] bhilburn commented on #217
Fixed by 4f0c3ff

[2016-03-03 22:00] #217 closed

[2016-03-03 22:02] bhilburn commented on #215
@MatthewMDavis @natemccurdy - What is your opinion regarding the state of this bug, then. Are there additional steps that we should take immediately to improve Ruby handling, or open questions?

[2016-03-03 22:13] natemccurdy commented on #215
@bhilburn In my opinion, it can be closed as the issue was resolved in PR #216 in the `next` branch.

[2016-03-03 22:25] dritter commented on #218
@megawebspace Strange. Beginning with ZSH 5.0.8, `whence -v` should be more informative. At least this is what the [release notes](http://zsh.sourceforge.net/releases.html) say (look for "Changes between versions 5.0.7 and 5.0.8").
So a possible solution could be to rely on `whence -v` starting from ZSH 5.0.9.. I'll put that in a PR, so you could have a look if that works.

[2016-03-03 23:11] dritter commented on #218
@megawebspace Before I do the PR. What does `whence -v prompt_powerlevel9k_setup` gives you?

[2016-03-03 23:23] MatthewMDavis commented on #215
I think this current version will work fine for all rbenv users. I've seen
more comprehensive approaches -- which tried to account for rvm or other
means of selecting ruby versions -- but they seem like they would
necessarily incur a lot of overhead. Probably better to have users of these
individual tools come up with segments for PL9K than try to have one ruby
segment that handles all of them.

O

[2016-03-04 10:42] smallhadroncollider commented on #224
Ah, ok. Thanks for pointing me in the right direction.

[2016-03-04 10:42] #224 closed

[2016-03-04 12:00] dritter commented on #224
What was it then? I am curious.

[2016-03-04 12:05] smallhadroncollider commented on #224
As you said, there as a `.git/sequencer` directory. I just removed it and everything went back to normal.

[2016-03-04 12:09] domibarton opened #225 "POWERLEVEL9K_DIR_BACKGROUND no longer working"
Hi

Is it possible that `POWERLEVEL9K_DIR_BACKGROUND` is no longer working? I've updated the theme and now I get the default blue prompt :/

Cheers
Domi

[2016-03-04 12:15] dritter commented on #225
Yep. That is correct. I added state to this segment, so the variable name changed depending on the state the segment is in. I documented the change in the [changelog](https://github.com/bhilburn/powerlevel9k/blob/master/CHANGELOG.md).
Now it is something like:
[code]

You can read more about states in the [wiki](https://github.com/bhilburn/powerlevel9k/wiki/Stylizing-Your-Prompt#special-segment-co

[2016-03-04 12:18] dritter commented on #224
Ah. Okay. I thought you had the root cause for the problem. The `sequencer` directory must be created by some command you execute..

[2016-03-04 14:41] jaxxstorm opened #226 "Unable to get awesome glyphs working"
I'm pulling my hair out here because this seems relatively straightforward and yet I can't get it to work.

I've installed this font, which has all the patched glyphs included: https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/Meslo/M/complete/Meslo%20LG%20M%20Regular%20for%20Powerline%20Nerd%20Font%20Complete%20Mono%20Windows%20Compatible.otf

I've selected it as my font in iterm2

[2016-03-04 15:21] dritter commented on #226
The obvious is that `nerd-fonts` is _not_ `awesome-terminal-fonts`. That are completely different projects. You need to install that font (either [patched](https://github.com/gabrielelana/awesome-terminal-fonts/tree/patching-strategy/patched) or with [fontconfig](https://github.com/gabrielelana/awesome-terminal-fonts)).

[2016-03-04 17:16] jaxxstorm commented on #226
I did try those methods as well, and it still doesn't seem to work..

[2016-03-04 17:32] dritter commented on #226
Okay. How did you try it?
IMHO the easiest way is the patched mode. In short the steps to install are:

1. Download and Install one of the patched fonts
2. Select the font as ASCII & Non-ASCII-Font in iTerm2
3. Set `POWERLEVEL9K_MODE='awesome-patched'` somewhere before you source the theme (or call your ZSH-Framework, like oh-my-zsh)

Then you should be able to do an `echo $'\uE20E'` and see the O

[2016-03-04 20:19] natemccurdy commented on #215
I am 100% on board with having small segments that do one thing, and one thing well. There's many different tool sets for working with Ruby versions, and they should have their own segments. That way, a user of that tool can use the segment appropriate for them.

[2016-03-07 11:05] megawebspace commented on #218
`whence -v prompt_powerlevel9k_setup` gives me `prompt_powerlevel9k_setup is a shell function from  Users/torb/.zprezto/modules/prompt/functions/prompt_powerlevel9k_setup`

Right now, I'm using Powerlevel by commenting out two lines in powerlevel9k.zsh-theme

[code]
in
[code]

[2016-03-08 11:36] Tritlo commented on #218
I'm using prezto and zgen, and it works fine for me. Here is the relevant
line in my config
https://github.com/Tritlo/dotfiles/blob/master/zsh/.zshrc#L111
On mán., 7. mar. 2016 at 12:05, Mr. Uzai <notifications@github.com> wrote:

--
Matthías Páll Gissurarson

[2016-03-08 15:16] michaeljhopkins commented on #206
I might be able to give some additional info on this problem.

System:
[code]

In the README it states `(note that it requires acpi on Linux)`. Upon running `sudo apt-get install acpi` I started getting errors after every command.

![](http://i.imgur.com/bzQ71Bl.png)

Removing `acpi` removes the command however battery is still reported correctly. Though I'll confess I'm not sure WHY its being rep

[2016-03-08 16:25] rjorgenson commented on #206
@michaeljhopkins the acpi package is only required to show the time remaining for the battery. The capacity calculation is done from the values in the /sys/class/power_supply/BAT# folder. What version of ACPI do you have and what's the output when you run acpi when it's installed? It seems like they might have changed their output format.

[2016-03-08 17:51] jaxxstorm commented on #226
Ah-ha! the trick was the fact the mode needs to be called BEFORE the theme in `oh-my-zsh`! it's working now.

Maybe a doc update might help people?

[2016-03-08 17:51] #226 closed

[2016-03-08 20:54] michaeljhopkins commented on #206
@rjorgenson The version that is automatically installed with apt-get. So running `apt-cache policy acpi` gets me this. I BELIEVE that would have been the version installed.

[code]

[2016-03-08 21:48] rjorgenson commented on #206
@michaeljhopkins can you re-install it and tell me what it outputs when you run the 'acpi' command with no arguments?

[2016-03-08 22:57] dritter commented on #226
@jaxxstorm Yes. Sorry for the unclear instructions. I've tried to improve the [docs](https://github.com/bhilburn/powerlevel9k/wiki/Install-Instructions/_compare/9106b2560b9e0fe674205e0817cd84f3d41976fe...ef6962030e6db4142edbec21f67513d53e7729e5). Can you have a look, if this is clearer now?

[2016-03-09 00:02] dritter commented on #218
@megawebspace What's interesting here is that the path to your powerlevel9k installation lacks the leading slash. So the code thinks the path is relative to your current directory and fails to find the other functions there..
If I do a `whence -v powerlevel9k_init`, I get
`powerlevel9k_init is a shell function from /Users/dr/.oh-my-zsh/custom/themes/powerlevel9k-wip/powerlevel9k.zsh-theme` (note t

[2016-03-09 00:12] jaxxstorm commented on #226
Perfect, thanks!

[2016-03-09 08:56] vinaychandra opened #231 "Context icon not displayed properly"
As you can see, the font is installed correctly but the prompt is breaking in between. What is the solution for this probelm
![snapshot2](https://cloud.githubusercontent.com/assets/5670927/13630006/e23cf502-e602-11e5-8cc0-a2485ecbab07.png)

[2016-03-09 10:03] dritter commented on #231
What do you mean by saying the prompt breaks in between? Do you want a multiline-prompt? If so, you need to set `POWERLEVEL9K_PROMPT_ON_NEWLINE=true`.

[2016-03-09 10:05] vinaychandra commented on #231
Sorry for my english. I meant that the icon that is being displayed is broken. In the first line, the home icon is partially displayed. I want to set it right

[2016-03-09 10:54] dritter commented on #231
No need to apologize. I was to stupid to see the broken icon in the first place. :smile:

The problem is quite complex, and has to do with how the terminal editor renders multi-width glyphs. So it is more an issue somewhere there (nothing we can really do about).

A quick solution _could_ be to render more whitespace after the icon.. Set `POWERLEVEL9K_HOME_ICON=$'\UE12C '` (note the whitespace aft

[2016-03-09 12:50] vinaychandra commented on #231
It is Konsole

[2016-03-09 14:33] fikovnik commented on #218
I actually have the same problem on OSX with zsh 5.2. I also get 'Script location could not be found!'. However, when I do consecutively `exec zsh`, it works just fine.

[code]

Doing a bit of a debugging, it seems that `$0` when zsh is first launched (by creating a new terminal window or a new tab) is set only to `prompt_powerlevel9k_setup`. If run from `exec zsh`, `$0` is set to `/Users/krikava/

[2016-03-09 23:12] dritter commented on #231
Okay. Good to know. But did giving the icon more whitespace work?

[2016-03-10 04:38] vinaychandra commented on #231
Yes. Giving the icon more whitespace worked. Thank you :smiley:

[2016-03-10 04:38] #231 closed

[2016-03-11 10:11] tradaniel opened #232 "response is very slow"
I install powerlevel9k. however, it is very slow
when I press enter key, it takes nearly 1 seconds to response.
all config is default.
my pc is MacBook Air (2014),
os version: 10.11.3 (15D21)
processor: 1.4 GHz Intel Core i5

[2016-03-11 21:43] dritter commented on #218
@fikovnik That sounds strange. Do you have any specials in your `.zshrc`? Or have two ZSH's installed (one by OSX, one by Homebrew), and set one as your systemwide Loginshell (in the OSX-Usersettings)? Or as Shell in your iTerm-Settings?

[2016-03-11 21:44] dritter commented on #232
@tradaniel Hmm. Which version of ZSH do you have? And which Segments did you activate?

[2016-03-11 22:16] dritter commented on #225
@domibarton Did this work for you?

[2016-03-12 02:15] domibarton commented on #225
Hi

Yep it worked, looks fine now :)
https://github.com/domibarton/config/blob/master/roles/zsh/templates/custom.zshrc.j2

Oops sorry I forgot to close the issue :( my fault!

Thanks & Cheers
D

[2016-03-12 15:24] #225 closed

[2016-03-15 01:52] wadkar commented on #215
^ :+1: :100: for small segments

[2016-03-16 19:51] ralpheeee88 opened #235 "icons"
so this is what i have config wise:

  ZSH_THEME="powerlevel9k/powerlevel9k"
  POWERLEVEL9K_MODE='awesome-fontconfig'
  POWERLEVEL9K_SHORTEN_DIR_LENGTH=9
  POWERLEVEL9K_SHORTEN_STRATEGY="truncate_middle"
  POWERLEVEL9K_STATUS_VERBOSE=true
  POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(root_indicator virtualenv dir vcs status)
  POWERLEVEL9K_DISABLE_RPROMPT=true
  POWERLEVEL9K_SHOW_CHANGESET=true
  POWERLEVE

[2016-03-16 20:23] dritter commented on #235
Seems like your font is not installed correctly. Can you double-check the [install instructions](https://github.com/gabrielelana/awesome-terminal-fonts#how-to-install) for awesome-terminal-fonts?

Are you sure, you didn't install the patched ones instead? Or Nerd-Fonts?

[2016-03-17 10:27] ralpheeee88 commented on #235
am at a lost...deleted everything in .fonts folder and started from scratch following the guide...still no joy (i do use font awesome, patched fonts and nerdfonts  on my arch system with i3)

[2016-03-17 21:32] dritter commented on #235
Hmm. Do you need all these fonts as separated ones?
I always recommend to use the [pre-patched](https://github.com/gabrielelana/awesome-terminal-fonts/tree/patching-strategy/patched) fonts, as they are easier to install. They already contain a couple of different fonts (like font-awesome, octoicons, powerline, etc.).. Is that an option for you?

[2016-03-19 13:07] Limeth opened #236 "VCS Modified foreground color missing"
The `POWERLEVEL9K_VCS_MODIFIED_FOREGROUND` options is not available, but the wiki says it is.
https://github.com/bhilburn/powerlevel9k/blob/master/powerlevel9k.zsh-theme#L786

[2016-03-19 13:13] dritter commented on #236
Yep. That was a Bug on the `master` branch. This is fixed in `next` with PR #214. ;)

[2016-03-19 13:20] Limeth opened #237 "Bold text as Vi indicator strings"
I would like to make my Vi indicator strings bold, but it breaks the theme layout:
http://i.imgur.com/ale5TIh.png

It seems like the characters of the formatting are added to the width, making the right prompt detached.
The last line of the image shows behavior when auto-completion (tab) is triggered. The cursor wouldn't move to the left no matter what I did.

Settings I use:
POWERLEVEL9K_VI_INSER

[2016-03-20 21:58] dritter commented on #237
I don't know why that doesn't work, but what worked on my machine is using ZSHs own formatting sequences:
[code]

[2016-03-22 13:08] Limeth commented on #237
How do I disable the bold effect at the end of the string? Is there a reset sequence like `%R`? Are they documented somewhere? I can't seem to find them.

[2016-03-22 13:09] Limeth commented on #236
Great. Looking forward to the update.

[2016-03-22 13:09] #236 closed

[2016-03-22 16:20] bhilburn commented on #206
Hey @michaeljhopkins - Just following up on this issue! Were you able to run `acpi` as @rjorgenson suggested?

[2016-03-22 16:21] bhilburn commented on #215
@MatthewMDavis @natemccurdy @wadkar - Thanks so much for providing your opinions on this discussion! I think we are all in agreement, and keeping the segments targeted & simple aligns with Project Goal #4 from the README of keeping things optimized for speed.

Thanks, all =)

[2016-03-22 16:21] #215 closed

[2016-03-22 16:22] bhilburn commented on #218
Hey @fikovnik - Just following up on this issue. We need a bit more info (see @dritter's last post) to figure out what to do, here =)

[2016-03-22 16:23] bhilburn commented on #232
Hi @tradaniel - That is *extremely* slow, and certainly not what we expect.

I have the same questions as @dritter - what version of ZSH, and what is your PL9K config?

[2016-03-22 16:23] bhilburn commented on #235
Hey @ralpheeee88 - Just following up, here. Did you get the fonts working? Did you try the pre-patched fonts that @dritter linked to?

[2016-03-22 16:24] bhilburn commented on #237
@Limeth - Disabling bold is `%b`. Give it a shot and let us know if it works?

[2016-03-22 17:11] ralpheeee88 commented on #235
Sorry chief.....am on vacation without laptop...will close this case....and fugue it our when I get back next week...

[2016-03-22 17:11] #235 closed

[2016-03-22 17:13] bhilburn commented on #235
Sounds good. Thanks, @ralpheeee88!

[2016-03-22 18:14] Limeth commented on #237
POWERLEVEL9K_VI_INSERT_MODE_STRING="%BINSERT%b"
POWERLEVEL9K_VI_COMMAND_MODE_STRING="%BNORMAL%b"
This seems to break the layout. When I remove `%b`, the whole line is in bold text and no gap is displayed.
http://imgur.com/baCEqZf

[2016-03-22 18:59] dritter commented on #237
@Limeth Interesting. Looks like you found a Bug. :+1:
I'll have a look into it.

[2016-03-22 19:01] dritter commented on #232
I have another question: Do you use a native FileSystem? Or are you using a virtual machine, or a network Filesystem (like NFS or similar)?

[2016-03-22 19:01] Limeth commented on #237
@dritter Thanks for the help.

[2016-03-22 19:02] dritter commented on #237
You are welcome! Thanks for the report. :)

[2016-03-22 19:52] dritter commented on #237
Okay. This is _very_ interesting. Seems like a Bug in ZSH to me.

If I do an `print -P '%K{black} %F{white}%Bhello%b world'` then only the "hello" is white on black.. So it has nothing to do with powerlevel9k itself.

I filed a report on the [mailing list](http://www.zsh.org/mla/users/2016/msg00270.html).

Until someone fixes this bug, there are some workarounds.

  1. You could start the backgrou

[2016-03-22 21:01] Limeth commented on #237
Thanks! Using the following values now:
[code]

[2016-03-22 21:22] #237 closed

[2016-03-22 21:46] Limeth opened #239 "Unsupported characters in tmux?"
Hello again. I've stumbled upon another issue, this time I can't seem to get the powerlevel9k theme working with the Terminal Multiplexer. I'm posting it here as an issue, because I was unable to resolve it myself by googling around and am not sure where to post it. Please, redirect me somewhere else, if this is not the correct place to ask for help regarding this issue.

Without tmux: http://i.im

[2016-03-22 22:07] cannonstar opened #240 "Is there a way to get transparent background for segments?"
My terminal has a transparent background so I'd like to have one or two segment backgrounds to be transparent while keeping the foreground a solid color.

[2016-03-22 23:07] dritter commented on #240
Well. It would kinda work if you set the background for the segments to an invalid value like `POWERLEVEL9K_TIME_BACKGROUND="none"`.
Kind of, because it would look different from what you want (at least, if you don't use `flat` mode). To go a bit into detail here: The separating glyph (a.k.a. `POWERLEVEL9K_LEFT_SEGMENT_SEPARATOR`) is a real character, which has the same foreground color as the pre

[2016-03-22 23:24] cannonstar commented on #240
Ahh I see, probably better to stick with a colored background then. Thanks!

[2016-03-22 23:24] #240 closed

[2016-03-24 19:25] alexlafroscia commented on #232
I had some pretty extreme speed issues with the `rbenv` segment enabled.

[2016-03-30 11:36] hoshsadiq opened #241 "Per host color scheme"
I'd like to be able to change the host on the prompt on a per host basis to indicate that I'm not on my computer but on a remote server for example. From the docs it doesn't seem to be possible. Any suggestions?

[2016-03-30 14:28] rjorgenson commented on #241
I use the context segment to achieve a similar result - https://github.com/bhilburn/powerlevel9k#context - it indicates whenever you are on a remote server(and shows the hostname) or whenever you are not DEFAULT_USER user on your local machine.

[2016-03-30 14:49] dritter commented on #241
Why don't you use different configurations on your machines?
Like having `POWERLEVEL9K_CONTEXT_DEFAULT_BACKGROUND='red'` on machine A and `POWERLEVEL9K_CONTEXT_DEFAULT_BACKGROUND='blue'` on machine B..

Even if you want to use the same dotfiles, you could add a switch to your `.zshrc`, like this (pseudo-code):
[code]

[2016-04-02 21:54] krzysieki commented on #218
I had the same problem on OSX 10.11.4, zsh 5.2 from brew. The problem existed when I had started zsh manually (I set Iterm2 to run zsh on start).

Changing my shell systemwide to zsh (with chsh) resolved issue.

[2016-04-03 23:41] dritter commented on #218
@krzysieki Thx for the info!

What were your iTerm2 Login-settings before you changed the shell with chsh?

Did they look like this:
![iterm_settings_zsh](https://cloud.githubusercontent.com/assets/1544760/14235711/3d9d8ee0-fa06-11e5-852b-2b6c7e6feeab.png)

[2016-04-07 08:11] krzysieki commented on #218
It was:
"Command: /bin/zsh"

And /bin/zsh is in version 5.0.8. Additionally I had zsh 5.2 from brew in /usr/local/bin/zsh.
And maybe that was the problem (2 zsh versions installed).

Now I set with chsh my shell globally to "/usr/local/bin/zsh" and in Iterm2 "Login shell" is set and everything works good.

[2016-04-08 15:58] dj-hedgehog opened #244 "Very slow in home folder because of VCS prompt segment"
I turned my home-folder `~` into a dotfiles repository with a lot of untracked files.
Ever since I made this change zsh is unusable slow while I'm located in the home-folder. It takes like 5-10 seconds to register keystrokes or execute anything.

Since I like the VCS segment I'd like to know what I can do about it without removing it entirely? Can I disable it in certain folders or is there some g

[2016-04-08 18:40] jguenther commented on #244
What I do is I make a `~/dotfiles` repo and have a makefile in there that symlinks `~/.file` to `~/dotfiles/file`  if they don't already exist. e.g. `~/.bashrc` is a symlink to `~/dotfiles/bashrc`, etc.

[2016-04-08 20:56] dritter commented on #244
@dj-hedgehog Thanks for the report.

The way @jguenther suggests would work. But I don't like it that this theme slows your terminal that much down. So I create a repository with 500.000 untracked files, and voilá it is slow as hell.
For now I can say that it has to do with the checking of untracked files. If I deactivate this (currently only available on the `next` branch) by setting `POWERLEVEL9

[2016-04-09 15:08] dritter commented on #244
Bad news: This is an issue of git itself. My first thought was, to cut off the response of git (with `tail -n 1`), but git computes the whole list of files before handing over to tail.. Second thought was to add an `.gitignore` with all untracked files in it (or a `*`), but git needs to check each file against this mask (which is slow). There seems no way to get just a boolean value out of git to

[2016-04-11 09:02] Dudi00 opened #245 "Missing icons"
Hi I'm trying to use [this config](https://github.com/bhilburn/powerlevel9k/wiki/Show-Off-Your-Config#rjorgensons-configuration), I've installed awesome fonts and set them as primary font.

[my current status](http://i.imgur.com/3mG1iZ3.png)

As you can see some icons/charcters are missing. I think I've done everythink correct, what I'm missing?

[2016-04-11 10:23] dritter commented on #245
A quick guess:
Did you set the `POWERLEVEL9K_MODE='awesome-patched'`? And did you set this value it _before_ applying/sourcing the theme (in your ZSH framework)?

[2016-04-11 10:27] Dudi00 commented on #245
Ooo... before applying/sourcing the theme is the key.
Thanks @dritter :+1:

[2016-04-11 19:18] bhilburn commented on #244
@dritter - What are your thoughts on moving the dirty check into a `precmd`? It seems like that might speed up the responsiveness of the re-draw, if I'm understanding how it works correctly?

[2016-04-11 19:18] #245 closed

[2016-04-11 19:19] bhilburn commented on #241
@hoshsadiq - Did @rjorgenson's and @dritter's tips, above, resolve your question?

[2016-04-11 19:21] bhilburn commented on #239
@Limeth - I use tmux as well, but don't have any problem with the rendering. I have the same two lines you do (see my config here: https://github.com/bhilburn/dotfiles/blob/master/tmux.conf).

I am running tmux 1.9a, though. I wonder if the version update is important? What OS are you using?

[2016-04-11 19:22] bhilburn commented on #232
Hi @tradaniel - Any updates, here? Are you using the `rbenv` segment? Did you resolve your issue?

[2016-04-11 19:24] bhilburn commented on #218
Okay, so it sounds like it was simply a matter which version of ZSH was getting used. I'm going to close it out.

I don't think we need any updates to the docs based on this... let me know if you feel differently, @dritter.

Thanks for keeping us updated, @krzysieki! It's been very helpful for us, and we are glad you have everything up and running, now.

[2016-04-11 19:24] #218 closed

[2016-04-11 19:24] bhilburn commented on #206
Hi all -

I'm closing this bug due to inactivity. @michaeljhopkins - let us know if you have time to re-open and debug this with us!

[2016-04-11 19:24] #206 closed

[2016-04-12 18:42] dritter commented on #244
Hmm. The only way how I imagine these precmds are executed are:

1. right before the prompt is printed. Then it will make no difference to executing this function as vcs_info-hook

2. less often. This would make a difference, but will give us not enough information (the underlying repo might have changed in the meantime).

I think there is no faster way than doing it like we do (except for the asy

[2016-04-12 19:18] dritter commented on #218
@bhilburn We could add some special instructions on the installation page in the wiki..
But I still need to understand the problem better..

@krzysieki You wrote you had the "same" problem. Could you go more into detail what "the same problem" is?

Is it that you had to start zsh manually to see the theme?
I can reproduce that problem, if I chose command->Login shell in the iTerm settings as comma

[2016-04-12 21:17] bhilburn commented on #244
@dritter - Thanks for the thoughts!

Hm... maybe I'll look into what it would take to do that check asynchronously, as the project  did in your link. That would be pretty cool, but it sounds like the workload might be... heavy.

[2016-04-13 14:20] Limeth commented on #239
I am running tmux 1.8 on Elementary OS. Anyway, I switched to a different shell, so I no longer need a solution. Feel free to close the issue.

[2016-04-13 16:31] #239 closed

[2016-04-13 22:28] krzysieki commented on #218
@dritter, my problem was that powerlevel9k couldn't start on my fresh installation of zsh and prezto (I got 'Script location could not be found!' error)

As I wrote, the problem existed if I had started zsh manually in iTerm window (zsh worked but powerlevel9k didn't)

When I replaced globally bash with zsh (so I could set iTerm settings to "login shell") powerlevel9k started to work.

Thanks for

[2016-04-14 12:10] bhilburn commented on #218
@krzysieki - Hm, interesting. It sounds like it's an issue with how iTerm2 was loading the shell, perhaps.

And thanks for your kind words, @krzysieki! @dritter and I have put a lot of time and effort into `powerlevel9k` over the last couple of years, and we are glad you like it!

[2016-04-16 16:22] thedos1701 commented on #232
I actually have the same problem, ZSH version is: 5.2
On the left side I have these segments active:
(context dir virtualenv vcs)
The right side is just default.

[2016-04-19 16:14] bhilburn commented on #232
Closing due to inactivity.

[2016-04-19 16:14] #232 closed

[2016-04-19 16:14] bhilburn commented on #241
Closing due to inactivity.

[2016-04-19 16:14] #241 closed

[2016-04-19 20:35] hoshsadiq commented on #241
Sorry, I've not been able to check as I've been away from my laptop. I won't be able to check for another few days but I will reopen this issue if the suggestions don't work!

[2016-04-19 20:37] bhilburn commented on #241
Sounds good! Thanks, @hoshsadiq!

[2016-04-21 00:07] sevenfoxes opened #250 "Strange node behavior"
node segment only appears to show when it's set to specific versions. This could be my machine, however, it works with an identical configuration on my other machine.

<img width="707" alt="screen shot 2016-04-20 at 7 05 54 pm" src="https://cloud.githubusercontent.com/assets/809000/14694122/f33cdf0e-072a-11e6-97a3-a81d61201c36.png">

here's my config:

[code]

[2016-04-21 00:24] dritter commented on #250
The code for the `nvm` segment is quite small.

First, we check if `nvm current` gives us anything useful (not empty, and not "none"). After that, we try to figure out if the selected node version is not the default one. If so, we show the segment. This is what happens in your screenshot.

[code]

[2016-04-21 00:26] sevenfoxes commented on #250
ohhh, I see. 5.5 is set as the default on my machine, therefore, it's not showing it to me. I just installed a different version to see if that was the case and it seems accurate.

[2016-04-24 09:13] miguelcarax opened #253 "SSH session"
Could be possible to keep the theme appearance within a ssh session? just changing the user and host names. Thanks!

[2016-04-25 02:04] TheDoctorsLife opened #254 "dir color variable being ignored"
After setting
[code]
I'm still seeing a blue dir line

[2016-04-25 04:54] dritter commented on #254
Hi @TheDoctorsLife

You have a little typo there. It should be:
[code]

[2016-04-25 05:30] dritter commented on #253
There is no easy way powerlevel9k (or any other ZSH-theme) could provide this.

IMHO the only valid way is to install ZSH on the other machine, set your user account there to use this shell, and install powerlevel9k there.. Using a dotfiles repo would allow you to share your powerlevel9k-copy across machines.

I've seen People hacking their SSH to copy a whole bunch of files to the remote machine,

[2016-04-25 05:31] dritter commented on #250
Could you close the issue, if this solved your problem? :)

[2016-04-25 12:11] TheDoctorsLife commented on #254
Thanks, issue solved. closing

[2016-04-25 12:11] #254 closed

[2016-04-25 14:02] #250 closed

[2016-04-27 03:25] wadkar commented on #218
This is interesting. I am getting similar error when I `ssh` into an ubuntu machine with `zsh 5.0.7`. I am using zgen + prezto. I follow the usual symlink to repo root setup suggested by `prezto`.

I rather not upgrade my zsh and stick wit prezto, what are my options?

[2016-04-27 03:27] wadkar commented on #253
if its a machine you regularly `ssh` into, its much better to install `zsh` and pull your config files (you track them in a repo, don't you?)

[2016-04-27 07:28] dritter commented on #218
@wadkar If `whence -w prompt_powerlevel9k_setup` gives you `function` and your prezto is installed at the usual location, it should work out of the box.
If your prezto could not be found, you should get a message, to set the `POWERLEVEL9K_INSTALLATION_PATH` manually:
https://github.com/bhilburn/powerlevel9k/blob/2630526df8275aebe3c5c65af188169ef3e1c94e/powerlevel9k.zsh-theme#L29-L37

Setting the `

[2016-04-29 23:47] bhilburn commented on #253
Yeah, this isn't really something that shell settings, of any form, could solve. What you really need to do is replicate your workflow on the machine you are working on.

To suggest an alternate method, if it works for you, if you are doing development remotely you could simply mount the remote directories with `sshfs` and then use your local workflow for your toolchains. This is a workflow I comm

[2016-04-29 23:47] #253 closed

[2016-04-30 04:33] wadkar commented on #218
I ended up compiling zsh-5.2 from source and I suppose this is no longer an issue for me. But yes, I am up for adding information in wiki/installation pages.

[2016-04-30 17:24] chenjuntong commented on #244
Same problem.Waiting for the solution.

[2016-05-01 04:47] chenjuntong commented on #232
@dritter @bhilburn Unfortunately,I have the same porblem.I am using babun(http://babun.github.io/) which console is mintty1.1.3.
Here is my PL9K config:
#POWERLEVEL9K
POWERLEVEL9K_MODE='Compatible'
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(context dir vcs)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status time)
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_STATUS_VERBOSE=false
POWERLEVEL9K_TIME_FORMAT="%D{%H

[2016-05-01 10:40] dritter commented on #232
@chenjuntong Your description fits better to #244 .. The hints there might help you..

[2016-05-01 19:46] chenjuntong commented on #244
@dritter
On my computer it seems that both "symlinks" and "modify.zshrc" ways don't work at all.

[2016-05-02 16:07] dritter commented on #244
@chenjuntong This is strange. Do you have a huge repository as well? Or does this happen in any repository (even small ones)?
And do you operate on a network-mounted folder?

[2016-05-04 07:41] chenjuntong commented on #244
@dritter This happen in any repository.When using powerlevel9k, the entire zsh seems slow down. Even simple command like "cd" is slower too. Extremely slow when using vcs. Therefore whether I operate on local folders(which I operate on) or network-mounted folders it is the same.

[2016-05-04 08:55] dritter commented on #244
@chenjuntong That is strange. The `vcs` segment uses ZSHs `VCS_INFO` which does massively disk operations. So the `vcs` segment should be significantly faster on local folders than on network mounts..

Are your repositories git or mercurial ones? (Git should be faster than mercurial).

And how fast is the invocation of `time git status` or `time hg st` in your repo (with disabled vcs of course)? I

[2016-05-05 01:18] chenjuntong commented on #244
@dritter My repositories are git ones.
Here is the time git status.Seems fast.
![](http://ww2.sinaimg.cn/large/6ccda21fjw1f3k8ocj43aj20j80bvtao.jpg)
When I disable vcs，every command becomes fast as usual.Therefore I guess the problem is on vcs.
Thanks for your patience.

[2016-05-10 14:34] vinaychandra opened #258 "Wrong fonts with Awesome FontConfig"
When using awesome-fontconfig, the segment separator is not working as intended.
![screenshot from 2016-05-10 20-02-41](https://cloud.githubusercontent.com/assets/5670927/15150289/2ef03608-16ea-11e6-98ff-098f29bddde3.png)
The required unicode is `\ue0b0` but it is not segment separator.

[2016-05-13 00:42] SalahAdDin commented on #258
In addition, i can't do works the awesome fonts, in OsX also ArchLinux :'(

[2016-05-13 10:05] dritter commented on #258
@vinaychandra
Hmm. I don't really know how fontconfig works if two configured fonts offer different glyphs at the same codepoint (codepoint collision). The solution may be just as easy as changing the order of the configured fonts in your fontconfig-configuration.

What you always could do is set `POWERLEVEL9K_LEFT_SEGMENT_SEPARATOR` to the code point that works for you. For the one on the right s

[2016-05-14 10:24] SalahAdDin commented on #159
When will be release the new version? My bash doesn't show me the correct virtualenv name:
![seleccion_095](https://cloud.githubusercontent.com/assets/5034215/15267903/1122a9e2-1994-11e6-9f6e-ee0d5eddd8ec.png)

[2016-05-14 10:25] SalahAdDin commented on #27
@fuzzmz why? my zsh doesn't show me the virtualenv name.

[2016-05-14 10:47] SalahAdDin commented on #258
Yes, i put these setting before set the theme:
[code]

And yes, i used the `fc-cache` command for get new fonts cache, and the other, i don't know, is very confuse the installation instructions, but i tried it in OsX and Antergos.

[2016-05-14 16:09] bhilburn commented on #258
Hm, yes, this is strange. Just to confirm, you set the default font of your terminal to the awesome-patched font, right?

[2016-05-14 16:10] bhilburn commented on #244
Yeah, there seem to be some speed issues with ZSH's `VCS_INFO` submodule. As @dritter said before, the only way we might be able to get around this is to force some things to run asynchronously to the prompt draw. I haven't had a chance to look into this, yet, but would like to.

If anyone else is interested in contributing on this front, I consider this to be an important effort.

[2016-05-14 16:12] bhilburn commented on #159
@SalahAdDin - The new version was released a couple of weeks ago. You can get it either by pulling `master`, or checking out the official 0.4.0 tag: https://github.com/bhilburn/powerlevel9k/releases

[2016-05-14 20:35] SalahAdDin commented on #258
I don't understand you.

[2016-05-15 14:46] andjscott commented on #244
I've made the RPROMPT async based on [this blog post](http://www.anishathalye.com/2015/02/07/an-asynchronous-shell-prompt/). Currently the whole RPROMPT is generated as one unit but it would be nice to split up the elements so they arrive as soon as they are loaded. E.g.

    echo -n $(time_message) >> $socket
    kill -s USR1 $$
    echo -n $(vcs_message) >> $socket
    kill -s USR1 $$

My commit

[2016-05-15 19:22] fuzzmz commented on #27
@SalahAdDin, make sure you have the `virtualenv` and `virtualenvwrapper` plugins activated in your `.zshrc` file.

[2016-05-15 21:49] SalahAdDin commented on #27
Oh thanks, i put the plugins and add virtualenv in the left side in powerlevel and it works!

[2016-05-16 12:47] chenjuntong commented on #244
@andjscott  The solution works! Thanks very much!

[2016-05-16 13:06] chenjuntong commented on #244
@andjscott I am sorry that this solution hasn't completely solve the problem. It maybe a little faster than the original config. Still, every command slower when using the VCS_INFO.

[2016-05-16 23:36] Tritlo commented on #258
fontconfig goes by the order of fonts in the 10-symbols.conf file (see https://github.com/Tritlo/dotfiles/blob/master/fonts/.config/fontconfig/conf.d/10-symbols.conf for an example). You could try changing that.

[2016-05-17 01:17] wadkar commented on #97
Let me know if you need someone to test it out. I would really like to see nerd-fonts working on all platforms.

[2016-05-17 21:37] michaeljhopkins commented on #250
No issue, posting for anybody that gets here by searching "nvm" in the issues due to the segment not showing up.

I was having this issue and I believe it was caused by the fact that nvm was already loaded before the theme did its stuff. At least, by moving all my nvm stuff to the bottom of my `~/.zshrc` then the segment was showing up right away.

[2016-05-18 01:57] andjscott commented on #244
`powerlevel9k_prepare_prompts` gets called twice currently due to the `zle-line-init` and the `precmd` hooks. Is there a reason for this? The prompt seems to work fine without the `zle-line-init` hook.

[2016-05-18 06:32] protist opened #264 "`Script location could not be found!` on zsh 5.0.7"
I have powerlevel9k (via zim) installed fine on my laptop, which runs Arch Linux and zsh 5.2. I'm trying to install it on my Raspberry Pi server, running Raspbian and zsh 5.0.7. However, when I start a new shell I'm presented with `Script location could not be found!`.

I looked in your code, and I think the problem is that `$0` cannot be reassigned on this version of zsh. As a test, I created the

[2016-05-18 07:26] dritter commented on #264
Yes, we need at least ZSH 5.0.8 for the finding mechanism to work.
But we could reassign `$0` to `$POWERLEVEL9K_INSTALLATION_PATH` if that variable was set. In addition we just need to refactor the [fallback mechanism](https://github.com/bhilburn/powerlevel9k/blob/0b57ee3669dd2d6d536ecff116345a929f6b068c/powerlevel9k.zsh-theme#L33-L47), so links and directories are handled as well.
That way, the w

[2016-05-18 07:41] protist commented on #264
Are you saying that zsh ≥ 5.0.8 is needed for other powerlevel9k functions? And hence having some kind of warning is important? Unfortunately, Raspbian is stuck on a fairly old version. If it's just this "finding mechanism" that relies on recent versions of zsh, then it's fairly easy to fix by using a new "normal" variable.

[2016-05-18 07:48] dritter commented on #258
@SalahAdDin what @bhilburn is trying to say: Please double-check that you configured your terminal right. Your terminal needs to display its contents in the right font. My configuration looks like this:
![bildschirmfoto 2016-05-18 um 09 30 31](https://cloud.githubusercontent.com/assets/1544760/15351070/85b8981a-1cdd-11e6-98d8-f7574637c7a1.png)

[2016-05-18 07:53] dritter commented on #264
AFAIK it's just the finding mechanism. The "normal" variable should be the `POWERLEVEL9K_INSTALLATION_PATH`.
The warning could be more helpful, indeed.

[2016-05-18 07:57] dritter commented on #244
@andjscott Only accidental. :D We had some trouble getting the `vi_mode` to work. The bug was introduced at this time..

Btw. the async prompt looks awesome! Thank you very much!

[2016-05-18 10:26] protist commented on #264
Ah okay, I see. Seems like a relatively straightforward fix then, hopefully. Cheers.

[2016-05-18 21:58] ryanoasis commented on #97
@wadkar

Short answer: Yes! :smile:
Longer answer: I want to build something to help with testing (at least partially automated) or find something that will help. There are _too many_ fonts now to test by hand per OS

--

I want to get it working better cross-platform too, I just don't really test much on Windows :worried: as much as I should and I do not currently have a Mac.

[2016-05-18 22:01] DanielGGordon commented on #97
This will be really interesting also once the new Windows build comes out with new Linux subsystem.

[2016-05-19 01:43] wadkar commented on #97
@ryanoasis you can count me in for both MacOS and Ubuntu!
Maybe I will take a page out of @DanielGGordon and install the linux subsystem in one of the spare Windows machine I have.
Always a pleasure to help :)

[2016-05-23 11:05] tunnckoCore opened #265 "Way to add segments on second prompt line?"
I have this config currently

[code]

Looking like this

![screenshot from 2016-05-23 14-00-37](https://cloud.githubusercontent.com/assets/5038030/15468809/ea806704-20ee-11e6-983d-bec7fef5dd9a.png)
_(link to wiki configs :P [tunnckoCore configuration](https://github.com/bhilburn/powerlevel9k/wiki/Show-Off-Your-Config#tunnckocore-configuration))_

But I'm thinking to reorder the things a bit. And h

[2016-05-23 12:23] V1rgul commented on #265
You could add a custom command that renders as a newline in the left prompt

[2016-05-23 17:59] tunnckoCore commented on #265
Hm. Will try and report back, thanks! :)

[2016-05-24 01:01] dritter commented on #265
I found another way than @V1rgul :
The segments just generate code for ZSH to interpret. So, you need to call the segments as the internal powerlevel9k code would do (name of segment, position, index in array).

This should work:
[code]

[2016-05-24 02:23] tunnckoCore commented on #265
@dritter yea, that's good, but can't set right side of second line?

tried

[code]

[2016-05-24 12:25] mateusmedeiros opened #267 "Conditional on custom commands"
I'm currently having to somewhat monkey patch powerlevel9k to add a custom command that I don't want to always be shown:

[code]
I reached that after reading the [Developer's Guide](https://github.com/bhilburn/powerlevel9k/wiki/Developer's-Guide) and taking a peek at the source code, but it would be cool if we could add a conditional directly to the custom command functionality. Something like:

[

[2016-05-24 12:30] Tritlo commented on #267
Couldn't you just not output anything when there isn't a gemfile?
Þann þri., 24. maí 2016 kl. 14:25 skrifaði Mateus Medeiros <
notifications@github.com>:

--
---
Matthías Páll Gissurarson

[2016-05-24 12:58] mateusmedeiros commented on #267
@Tritlo I tried that, but then what happened was this:
![image](https://cloud.githubusercontent.com/assets/3318372/15504487/a7660ecc-2195-11e6-8e68-600a91246868.png)

When I took a peek at the source code, I figured it was because custom commands seem to be added directly with this function:

[code]

So even when my function didn't print anything, the red segment was still there. I guess because t

[2016-05-24 13:00] Tritlo commented on #267
Maybe you could patch it so that a segment is not rendered if empty?

þriðjudagur, 24. maí 2016 skrifaði Mateus Medeiros <notifications@github.com

--
--  Matthías Páll Gissurarson <http://mpg.is/>

[2016-05-24 13:54] mateusmedeiros commented on #267
Oh, that's true. Much easier than my solution. Guess I can submit a simple PR for that then.

[2016-05-25 10:11] dritter commented on #265
@tunnckoCore Unfortunately, for the right prompt we don't have such a mechanism.

Longer explanation:
ZSH offers ways to display informations on left or right side by setting `PROMPT` (left) and `RPROMPT` (right). Powerlevel9k fills these variables, and provides an easy way for configuration. So we need to know on which side the current segment should be rendered, that is the `left` or `right` par

[2016-05-27 15:48] bhilburn commented on #264
Fixed my #266 merge.

[2016-05-27 15:48] #264 closed

[2016-05-27 15:56] bhilburn commented on #267
Merged #268!

[2016-05-27 15:56] #267 closed

[2016-05-27 16:08] bhilburn commented on #258
@SalahAdDin - Any updates, here? Did you try @Tritlo's or @dritter's suggestion?

[2016-05-27 16:09] bhilburn commented on #244
Work continues in #263...

[2016-05-27 19:55] dgdosen commented on #97
Related to all of this...

I've got nerd-fonts installed on mac os... and can see the awesome icons when I run an echo command.  For example:
[code]
I see the nerd-font patched pomodoro tomato...

When I try to use that same unicode in a custom format string for powerlevel9k, I see the unicode replacement black diamond and question mark.  However, I'll also get a the awesome fonts for some unicode

[2016-05-29 00:42] andela-oadesanya commented on #244
@chenjuntong try `brew install git`
Had the same issue, my terminal was extremely slow after installing the powerlevel9k theme, and spent hours trying to get it solved until I hit `brew install git` to override the default git that was shipped with my OSX.
`brew install git` worked just fine for me.

[2016-05-30 16:04] lcorsini commented on #97
I'm actually wrestling with nerd-fonts in windows.
Sadly my best powerline font (Terminus/Terminess) doesn't work well with nerd-fonts patches (see https://github.com/ryanoasis/nerd-fonts/issues/86) so I'm searching for another font to play with powerlevel9k

At the moment I've got good results with Hack/Knack but I had to rewrite a lot of icons because they are located at different points and a l

[2016-06-01 09:23] praveenpuglia opened #270 "Battery Indicator Icon Doesn't Work"
All the other icons work but this one doesn't. :sob:
![image](https://cloud.githubusercontent.com/assets/313363/15704485/96e33f42-2808-11e6-8a23-c1e9fe698680.png)

[2016-06-02 01:15] andjscott opened #271 "Error when shortening path with package name when in a .git directory"
When shortening the path in `prompt_dir` with `truncate_with_package_name` and within a `.git` directory errors are shown:
[code]
`git rev-parse --git-dir` returns just `.` when in the top level of a`.git` directory so `package_path=${repo_path:0:-4}` fails.

[2016-06-04 12:10] dritter commented on #270
Do you use `awesome-fontconfig` or `awesome-patched` mode?

A quick solution could be to set `POWERLEVEL9K_BATTERY_ICON` to the icon that works for you.

[2016-06-04 15:39] praveenpuglia commented on #168
@dritter , @kevinSuttle - This worked for me. Although I still believe it should just work out of the box instead of the extra setting. :)
Ref : #270

[2016-06-04 15:58] praveenpuglia commented on #270
I use `awesome-fontconfig`.

[2016-06-04 18:18] dritter commented on #168
@praveenpuglia The "high voltage sign" should be used for superpower-users (like root) for the sake of clarity.

Regarding the out-of-the-box experience: Unfortunately this depends heavily on the users settings. If one uses a different fontconfig-configuration he might get totally different icons.. The root cause for the problem is the use of non-official (private) code points which might represen

[2016-06-05 08:50] monteros opened #272 "Print warning about `locale` (was: Commands not found)"
I originally had the issue cover in issue #264. I applied the patch from the comments in issue #264 which solved that problem. However, now it runs but I get "command not found" errors for almost everything in the theme.

I'm running Gallium OS and zsh 5.0.7

[2016-06-06 05:20] praveenpuglia commented on #168
Sounds like a no! :( I ended up copying the glyph altogether and pasting it in my zshrc file. I am currently using this one - 🔌

[2016-06-06 17:42] lyinch commented on #272
I have the same error:
`left_prompt_segment:24: command not found: print_icon
left_prompt_segment:44: command not found: print_icon
prompt_vcs:33: command not found: print_icon
prompt_vcs:34: command not found: print_icon
prompt_vcs:42: command not found: print_icon
left_prompt_end:2: command not found: print_icon
left_prompt_end:6: command not found: print_icon
right_prompt_segment:32: command no

[2016-06-06 23:43] dritter commented on #272
Hi @monteros and @lyinch . Thanks for the report. I have some questions for you:
- Do you use any ZSH framework? If yes, which one is it?
- Did you get the warning to set `POWERLEVEL9K_INSTALLATION_PATH` manually?
- Does it help, if you set `POWERLEVEL9K_INSTALLATION_PATH` to your installation folder?

We recently changed the way how powerlevel9k find its libraries. The error messages are exactly

[2016-06-09 21:10] Xiaoming94 commented on #272
Anything new on this issue? I am getting this error too.
Maybe you just forgot to check/mention the dependencies of this theme?

[2016-06-10 07:58] dritter commented on #272
@Xiaoming94 Could you provide some more informations about your setup?

[2016-06-10 09:15] Xiaoming94 commented on #272
My Config for powerlevel9k:
    POWERLEVEL9K_PROMPT_ON_NEWLINE=true
    POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=""
    POWERLEVEL9K_MULTILINE_SECOND_PROMPT_PREFIX="\U2570\U2500 $ "
    POWERLEVEL9K_DIR_HOME_BACKGROUND="cyan"
    POWERLEVEL9K_DIR_HOME_SUBFOLDER_BACKGROUND="magenta"
    POWERLEVEL9K_CONTEXT_DEFAULT_BACKGROUND='121'
    POWERLEVEL9K_CONTEXT_DEFAULT_FOREGROUND='black'

Running Arch

[2016-06-10 09:53] dritter commented on #272
Thank you very much.
Installed packages would be too much, I think.

Do you use Prezto? Or any other ZSH framework?
And how do you source/link/activate the theme?

[2016-06-10 09:54] Xiaoming94 commented on #272
I use Oh-My-Zsh

[2016-06-11 12:04] dritter commented on #272
That really should not happen.. I'll have a look on that.

[2016-06-11 20:12] monteros commented on #272
Sorry, I didn't see this traffic until now. I'm using prezto. No errors
with other themes.

On Sat, Jun 11, 2016 at 7:04 AM, Dominik Ritter <notifications@github.com>
wrote:

[2016-06-11 20:45] monteros commented on #272
I'm sourcing per prezto using zstyles and placing in the ./modules/
directory. I'm currently using nicoulaj as my theme.

With a fresh clone of the repo and following the install for prezto I now
get the following error:

Usage: prompt <options>
Options:
    -c              Show currently selected theme and parameters
    -l              List currently available prompt themes
    -p [<themes>]   P

[2016-06-11 20:52] monteros commented on #272
Please disregard the above. That's something else in my config. Let me
figure that out and I'll report back.

On Sat, Jun 11, 2016 at 3:45 PM, Guillermo Monteros <ghgdlmonteros@gmail.com

[2016-06-11 21:00] Tritlo commented on #272
I'm also using `prezto`, altough I'm using `zgen` as well. My loading up is as follows:

[code]

Maybe doing something similiar would work for you?

[2016-06-11 21:08] monteros commented on #272
Figured out the prompt command issue. Apparently you can't comment out at
the end of a line. 'nicoulaj'#'powerlevel9k' gets turned into
'nicoulaj#powerlevel9k' when parsed.

With the path set I get the following error now:
Script location could not be found!

This is the end of my trace from starting up:
+is-at-least:36> ((  part < min_ver[min_cnt]  ))
+is-at-least:36> return 1
+prompt_powerlevel9

[2016-06-12 15:07] dritter commented on #272
@monteros You seem to use the `master` branch. That shouldn't be a problem, I mention it because we did some improvements for locating the script on the `next` branch..
For prezto we have to do some assumptions, as there is no good way to find the script location prior to ZSH 5.0.8. One of these assumptions is that you link powerlevel9k theme to `~/.zprezto/modules/prompt/functions/prompt_powerlev

[2016-06-12 16:36] dritter commented on #272
@Xiaoming94 I have a hard time reproducing this problem under ZSH 5.2 and with the `next` branch. So I need to ask some more general questions.

Oh-my-zsh provides a mechanism to easily add functionality. One could add own themes under `~/.oh-my-zsh/custom/themes`. We advise people to clone the powerlevel9k repo under this directory. I guess, you've installed powerlevel9k with the archlinux packag

[2016-06-12 22:18] xPathin commented on #272
Same error, fresh arch + ohmyzsh.
[code]

[2016-06-12 22:24] Xiaoming94 commented on #272
I am on master branch. I installed the package by cloning the repo into ~/.oh-my-zsh/custom/themes as said in the wiki. Here are the content of my functions folder:
`$ ls functions
colors.zsh  icons.zsh  utilities.zsh  vcs.zsh`

[2016-06-13 05:32] dritter commented on #272
@Xiaoming94 Could you edit `powerlevel9k.zsh-theme` and add the following line at [line 50](https://github.com/bhilburn/powerlevel9k/blob/cef8c65586c92a6c696b497c0d4ddd6610db203e/powerlevel9k.zsh-theme#L50):
[code]
And open a new terminal and post the output of the line?

[2016-06-13 10:45] Xiaoming94 commented on #272
Ok, I don't know what the hell happened, but it seems like the error is gone... somehow... I just installed some packages... openssh, apache, mariadb, php, npm, ruby, nodejs and so on... weird.

[2016-06-14 02:17] bhilburn commented on #272
@Xiaoming94 - Very interesting! Can you try unsetting LANG to see if it breaks it again? I'm glad it's working for you, and thanks so much for helping us debug it!

@xPathin - Is your `LANG` env variable set?

[2016-06-14 02:18] bhilburn commented on #270
Not sure what to make of this - especially if the other code points are working.

How did you install the Awesome-Patched Fonts, @praveenpuglia?

[2016-06-14 02:36] bhilburn commented on #265
Marking this one closed. Thanks for the great support, @dritter and @V1rgul!

[2016-06-14 02:36] #265 closed

[2016-06-14 02:36] bhilburn commented on #258
Closing due to inactivity.

[2016-06-14 02:36] #258 closed

[2016-06-14 02:37] bhilburn commented on #244
@andela-oadesanya - Wow, really? Do you know what version ships with OSX by default, and what version of git you have now?

[2016-06-14 03:10] xPathin commented on #272
Sorry, can't answer anymore i reformatted the faulty system and use bash now.

[2016-06-14 17:07] bhilburn commented on #272
@xPathin - Hah, fair enough.

@Xiaoming94 - Any chance you can try that experiment?

[2016-06-14 21:53] dritter commented on #272
Hah! I am finally able to reproduce this error.
I set up a virtual machine with a [basic arch linux](https://atlas.hashicorp.com/jfredett/boxes/arch-base). I had to do some modifications to the `test-vm/bootstrap.sh`, as arch uses pacman instead of apt-get..

After I logged in to that machine, I got the following screen:
![bildschirmfoto 2016-06-14 um 23 50 21](https://cloud.githubusercontent.com/

[2016-06-14 22:12] dritter commented on #270
It's hard to say why that single icon does not work on your machine. That depends on your fontconfig-configuration. Could you double-check that at least one of your configured fonts offer a good glyph for `\u1F50B`?
It seems a bit strange, as this sign is an emoji. If your fonts are configured correctly, you should even be able to see this glyph in your browser:🔋

It might be necessary to install

[2016-06-14 22:18] dritter commented on #244
@bhilburn Apple ships `git version 2.7.4 (Apple Git-66)` on El Capitan (10.11.5).

[2016-06-16 06:44] praveenpuglia commented on #270
@bhilburn
I went to this repo and installed the fonts by executing `./install.sh` from the cloned repo. In my `.zshrc` I am using `awesome-fontconfig` as the mode.

@dritter - I do see a battery, filled in green. I am however not sure whether it's just github replacing it or my machine is really rendering it correctly.

How do I check what fonts I have configured and if they support that glyph or

[2016-06-16 06:58] praveenpuglia commented on #270
Seems like the fontawesome **.ttf** installed using **awesome-terminal-fonts** doesn't even have that battery icon. I checked it with the character map in libre office writer. Then, I downloaded the ttf from [here](https://github.com/FortAwesome/Font-Awesome/blob/master/fonts/fontawesome-webfont.ttf) and it now shows the battery icon in the character map! :disappointed:

[2016-06-18 00:00] ogirginc opened #280 "ls output getting erased"
When `dir` is too long without any truncating applied, if I use `ls`, the output gets erased after a second:
[Asciinema](https://asciinema.org/a/at8z5bzlljqp26xlw5owjt3ac)

Tried using ["\n\"](https://github.com/bhilburn/powerlevel9k/issues/169#issuecomment-167696078) but didn't work.

- Mac OS X 10.11.5
- Both terminal & iTerm2 (3.0.2)

[2016-06-22 07:08] PiQuer opened #281 "incompatibility with autosuggestion plugin"
Hi Ben,

thanks for this awesome theme!

I have encountered an [incompatibility with the zsh-users/zsh-autosuggestions](https://github.com/zsh-users/zsh-autosuggestions/issues/162) plugin. Is there anything which might be done on the side of powerlevel9k? Maybe you have an idea what the cause could be?

Cheers!
Raimar

[2016-06-23 14:03] riginoommen opened #283 "Create documentation for uninstallation of the powerline9k"
Please update the wiki with resetting procedures

[2016-06-28 13:49] isanwenyu opened #284 "SourceCodePro%2BPowerline%2BAwesome%2BRegular.ttf doesn't work with iterm2 on mac"
~/.zshrc:
[code]
[code]

[2016-06-29 01:47] crazy-canux opened #285 "After enter the first promt line go back 1 line."
ZSH_THEME="powerlevel9k/powerlevel9k"
POWERLEVEL9K_MODE='awesome-fontconfig'
POWERLEVEL9K_OS_ICON_BACKGROUND="white"
POWERLEVEL9K_OS_ICON_FOREGROUND="blue"
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon context dir vcs status)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(time)
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_RPROMPT_ON_NEWLINE=true
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX="%{%F{249}%}\u250f"

[2016-06-29 01:47] crazy-canux commented on #285
After hit "enter" the last line disappear.

[2016-06-29 01:51] crazy-canux commented on #285
I know what's going on.
set
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=""

[2016-06-29 01:51] #285 closed

[2016-06-29 07:39] aaronshan commented on #284
you need config like this:
[code]

[2016-06-29 13:06] bhilburn commented on #270
@praveenpuglia - Ah, interesting. It sounds like you are using an alternate version of the font.

Don't forget to reset the font in your terminal emulator in order to try out the new fonts you are trying out!

I'm going to close this bug as I don't think it's an issue with `powerlevel9k`. Feel free to keep the conversation going, though, @praveenpuglia. It would be good to know which fonts work an

[2016-06-29 13:06] #270 closed

[2016-06-29 13:07] bhilburn commented on #271
Should have closed this when I merged #275 two weeks ago.

[2016-06-29 13:07] #271 closed

[2016-06-29 13:08] bhilburn commented on #272
@dritter - Great find! It seems like the `locale` setting has caused us a number of problems in the past. I agree with your suggestion of adding a warning to print if it's set incorrectly.

Leaving this bug open as a reminder to add that.

[2016-06-29 13:11] bhilburn commented on #280
@ogirginc - Whoa. Weird.

I'm not really sure what to do about this. There isn't anything in our theme code that would blow away the terminal draw. This has to be a bit lower in the stack.

Are you using a framework like `oh-my-zsh`, `prezto`, or anything like that?

(By the way, cool way of showing the bug! I hadn't seen that site before.)

[2016-06-29 13:17] bhilburn commented on #281
Hi @PiQuer - Thanks for being an awesome user! We also have a number of fantastic devs that help make this theme great, like @dritter, @rjorgenson, and many others.

And whoa, weird bug. So when using `powerlevel9k`, and only when using `powerlevel9k`, the terminal doesn't remove the rest of the printed prompt? I wouldn't have thought that we had anything to do with this, but your bug report over

[2016-06-29 13:19] bhilburn commented on #283
@riginoommen - Just to be sure, by "uninstallation" do you mean selecting a different theme? Is this for a particular framework?

All frameworks have different steps for changing the theme that you are using, and we support a lot of them - hence my question :)

https://github.com/bhilburn/powerlevel9k/wiki/Install-Instructions

[2016-06-29 13:23] bhilburn commented on #284
@aaronshan - Thanks so much for sharing the proper config! I should probably add your tip to the Wiki.

@isanwenyu - Did @aaronshan's help solve your problem?

[2016-06-29 14:57] ogirginc commented on #280
I am pretty new to z-shell, so not sure, if it is something to do with my set-up ([my dotfiles](https://github.com/ogirginc/dotfiles)).

Yes, I am using `oh-my-zsh`.

[2016-06-29 15:12] isanwenyu commented on #284
@aaronshan thks
That is my fault！I should have put “ source $ZSH/oh-my-zsh.sh ” in the bottom of the configuration！

[2016-06-29 15:17] #284 closed

[2016-06-29 15:21] riginoommen commented on #283
@bhilburn Hi i meant the uninstallation procedures.

[2016-06-30 05:43] PiQuer commented on #281
Yes, weird indeed. But I would think it is the combination of autosuggestion and powerlevel9k. From a fresh start `zsh -f`, loading autosuggestion alone, everything is still fine. Then after loading powerlevel9k the bug is triggered. I also tried to load the plugins the other way around, same result.

Thanks for having a look!

[2016-07-01 17:29] dbasinge opened #286 "font-awesome Fedora"
I'm using fontawesome with awesome-fontconfig using the fontawesome-font -4.6.3 package in the Fedora. Everything work great other an I get the ~ character instead of a home icon glyph, all the other folder icons work fine. Would rather use fontconfig rather than patched if possible.

echo "\uf015" shows nothing.

Not exactly a powerlevel9k question, but thought this would be the best place to loo

[2016-07-05 22:54] JohnRoach opened #287 "Regarding the VCS module"
Hi, I have been using the your theme with the VCS module without any issues until the recent update I got. Now it is extremely slow. Each time I `ls` a repository directory I have to wait at least 10-20 seconds. Has there been any reason why there could be a performance degradation?

Thank you!

[2016-07-05 23:01] JohnRoach commented on #287
My settings can be found below:

    ZSH_THEME="powerlevel9k/powerlevel9k"
    POWERLEVEL9K_MODE='awesome-patched'
    POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(context dir vcs)
    POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status history time)
    POWERLEVEL9K_TIME_FORMAT='%D{%H:%M}'
    POWERLEVEL9K_STATUS_VERBOSE=false
    POWERLEVEL9K_SHORTEN_STRATEGY="truncate_middle"
    POWERLEVEL9K_SHORTEN_DIR_LENGTH=4

[2016-07-06 00:26] bhilburn commented on #287
@JohnRoach - Whoa, that's not good!

Are you using a release, or are you working off of `next`? Can you give us the hash of the checkout you are using, now, where it's slow? Also, do you remember which checkout you were using when it was good?

[2016-07-06 00:27] bhilburn commented on #286
@dbasinge - Just to check, do you get the folder icon if you are in a sub-dir of your home directory?

[code]

[2016-07-06 00:28] bhilburn commented on #283
@riginoommen - There is no "install" for powerlevel9k - it's just a directory with the code in it. To "uninstall" it, simply delete the directory where you downloaded the code.

[2016-07-06 00:28] #283 closed

[2016-07-06 00:29] bhilburn commented on #281
@PiQuer -

Can you share your powerlevel9k config? Also, what release / branch are you using?

[2016-07-06 01:44] dbasinge commented on #286
Yes I do get a folder icon. Also home icon works if I set it to something else
POWERLEVEL9K_HOME_ICON=$'\UF1D0'

File a bug with Fedora, because I beginning to think it is a bug with the fontawesome Fedora package.

[2016-07-06 13:08] JohnRoach commented on #287
I tried both next and master both are very very slow.
I will be slowly reverting. To see what broke vcs.

[2016-07-06 13:22] JohnRoach commented on #287
Did a vanilla installation of oh-my-zsh. No slowness... However the moment I start using the powerlevel9k everything slows down so much. I reverted all the way back to Feb still having issues. I hadn't updated the theme since I first installed it which was back in October '15.

[2016-07-06 13:47] bhilburn commented on #287
@JohnRoach - Quick question: do you experience this slowness in **all** git repositories, or only ones with submodules?

If you first installed it in October of 2015, you were probably using v0.2.0. Can you give v0.3.0 a shot and let me know if you see the problem?

Unfortunately, I can't replicate the issue, so I have to rely on you to do the testing. Sorry!

https://github.com/bhilburn/powerleve

[2016-07-07 17:06] bhilburn commented on #286
Yeah, if you see the folder icon just fine, then I agree that there is just something wrong with the font that you got from the Fedora packages. Thanks for reporting!

[2016-07-07 17:06] #286 closed

[2016-07-07 17:52] bhilburn commented on #272
New warning about $LANG is now printed as of 4666bd49.

[2016-07-07 17:52] #272 closed

[2016-07-08 08:05] kcwu opened #290 "prompt_dir break if go to .git directory"
How to reproduce:
[code]
then powerlevel9k break with following message:
[code]

This is because `git rev-parse --git-dir` output `.` for the `.git` directory. And `package_path=${repo_path:0:-4}` failed.

[2016-07-09 19:12] JohnRoach commented on #287
I experience this in all git repos. Will try out 0.3.0 Thank you for the suggestion.

[2016-07-09 19:20] JohnRoach commented on #287
I tried 0.3.0 I am sorry to say it didn't work. However I just tried the following and was able to get the previous good performance from the following checkout;

    git checkout 62dee9824b6de724b4fa0d2b43c30fa194eb9280

[2016-07-09 21:45] brianjking opened #291 "Not all icon fonts appear until I source .zshrc a 2nd time"
https://github.com/bhilburn/powerlevel9k/wiki/Show-Off-Your-Config#falkors-configuration

* iTerm2 version 3.0.4
* macOS 10.11.5
* Oh-my-zsh

![zsh](https://cloud.githubusercontent.com/assets/6786817/16710451/7007acc8-45f4-11e6-87cd-84ae0fffc6fc.gif)

[2016-07-09 21:48] rjorgenson commented on #291
@brianjking make sure you're loading p9k after all your settings in your .zshrc file. It looks like the first time it's sourced it's defaulting to not using awesomefonts.

[2016-07-09 21:55] brianjking commented on #291
@rjorgenson Thanks, I think I may have figured it out based on your suggestion. Will close later today when I can confirm.

[2016-07-13 00:46] bhilburn commented on #290
@kcwu - Hm, I can't reproduce this issue. Can you share your powerlevel9k config? Also, what branch / release are you using?

[2016-07-13 00:47] bhilburn commented on #291
Hey @brianjking - Were you able to get this working?

[2016-07-13 00:47] bhilburn commented on #281
Hi @PiQuer - I just wanted to ping you on which release / branch you are using, and if you could share your config?

[2016-07-13 00:56] brianjking commented on #291
Yes, thanks.

[2016-07-13 00:56] #291 closed

[2016-07-13 05:11] PiQuer commented on #281
Sorry! I am using the master branch, currently on cef8c65. Here is my config of powerlevel9k:

    export TERM="xterm-256color"
    POWERLEVEL9K_MODE='awesome-fontconfig'
    POWERLEVEL9K_PROMPT_ON_NEWLINE=true
    POWERLEVEL9K_RPROMPT_ON_NEWLINE=true
    POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status load ram swap time vi_mode)
    antigen theme bhilburn/powerlevel9k powerlevel9k

However, the proble

[2016-07-17 13:32] kcwu commented on #290
I found this related to these two lines
[code]

[2016-07-17 14:26] bhilburn commented on #290
@kcwu - Aha, that's why I couldn't reproduce it. I don't use that feature of the `dir` segment in my prompt.

Also, that code no longer exists in `powerlevel9k`, actually. Have you tried updating to our latest release? You can either get it [here](https://github.com/bhilburn/powerlevel9k/releases) or by pulling the `master` branch.

[2016-07-17 14:32] bhilburn commented on #287
@JohnRoach - Thanks for the bug hunting! So that commit is actually our v0.2.0 tag. Unfortunately, there was a significant amount of work between v0.3.0 (known bad) and v0.2.0 (known good).

I am completely unable to replicate the performance you describe (10-20 seconds) in repositories, so I actually can't do this bisect myself.

Are you familiar with using [git bisect](https://git-scm.com/docs/g

[2016-07-17 15:45] kcwu commented on #290
Really? I'm using the master, latest revision, cef8c65586c92a6c696b497c0d4ddd6610db203e.

[2016-07-17 15:50] kcwu commented on #290
oh, I got what you mean. The code no longer exists in `next` branch. But it still exists in `master` branch.

[2016-07-17 15:56] kcwu commented on #290
I found https://github.com/bhilburn/powerlevel9k/pull/275 just addressed exact this issue. I will try `next` branch.

[2016-07-17 15:56] #290 closed

[2016-07-17 17:56] JohnRoach commented on #287
The git version is git version 2.3.2 (Apple Git-55)

[2016-07-17 18:12] JohnRoach commented on #287
Ok it looks like I found it. Thank you for showing me git bisect! It is pretty awesome.
Any way this is where I was able to pinpoint the issue:

    6bf2869a1c8e509d1d0bb05ea05e179c48b9f7c4 is the first bad commit
    commit 6bf2869a1c8e509d1d0bb05ea05e179c48b9f7c4
    Author: Dominik Ritter <dritter03@googlemail.com>
    Date:   Sun Oct 11 19:41:52 2015 +0200
    Cleanup of VCS-segment. Now `vcs_

[2016-07-19 22:35] shibumi opened #293 "FontAwesome does not work with powerlevel9k"
Hello,
I am running the termite terminal, version 11-3, on Arch Linux.
powerlevel9k works fine with PowerlineSymbols.otf but
not with font-awesome. I have installed font-awesome like this:

`git clone https://github.com/gabrielelana/awesome-terminal-fonts`

and Then i have copied all fonts and scripts in ./build to
~/.fonts/

`ls -l ./fonts`
[code]

After this I did: `fc-cache -vf ~/.fonts`

I hav